{# ここから商品説明 #}
スキンケア発想の無香料アミノ酸系シャンプーです。
敏感な地肌に配慮し、厳選したクレンジング成分*でマイルドな設計に仕上げました。
洗浄により不要な汚れや皮膜物を除去して、髪本来の軽やかで艷やかな風合いへ導きます。
容器をポンプ式にリニューアルしたことで、使いやすくなりました。
こちらの商品は、2023/12/12より、ポンプ仕様・容器デザイン・内容量・価格を変更しリニューアルいたしました。（成分は一切変更しておりません）
従来品（リニューアル前の商品）をお求めの方は<a href="/ceralabo/products/detail/121" style="color:blue">こちら</a>
<font size="1"><font color="#a9a9a9">*ラウロイルグルタミン酸TEA、ラウロイルメチルアラニンNa、コカミドDEA、コカミドプロピルベタイン</font></font>

<font size="2">■</font>商品名：CeraBright Shampoo

<font size="2">■</font>内容量：300ｍL

<font size="2">■</font>全成分：水、ラウロイルグルタミン酸TEA、ラウロイルメチルアラニンNa、コカミドDEA、コカミドプロピルベタイン、グリセリン、グリチルリチン酸2K、グリコシルトレハロース、加水分解水添デンプン、ジステアリン酸PEG-150、トリイソステアリン酸PEG-20グリセリル、 ラウリン酸BG、PEG-15ココポリアミン、ポリクオタニウム-10、エチルヘキシルグリセリン、ポリクオタニウム-51、塩化Na、クエン酸、EDTA-2Na、メチルパラベン、フェノキシエタノール

<font size="2">■</font>不使用成分：サルフェート系洗剤 / スルホン酸系洗剤 / 石油系洗剤 / 高級アルコール系洗剤 / シリコン / オイル / 香料 / 精油 / 植物エキス / 着色剤 / エタノール

<font size="2">■</font>送料：全国一律無料

<a href="#faq" data-smoothScroll><font size="2">■</font>よくある質問はこちら⬇︎</a>

<a href="#movie" data-smoothScroll><font size="2">■</font>解説動画はこちら⬇︎</a>

<hr noshade="" align="left">

{# ここからフリーエリア #}
<style>
	.freearea_main {
				max-width: 760px;
				margin: 0 auto;
			}		
    p {
        line-height: 2em;
        color: #4D4D4D;
        padding: 0;
        margin: 0;
    }

    .main_title {
        font-size: 2em;
        text-align: center;
    }

    .main_title_sp {
        font-size: 1.6em;
        text-align: center;
    }

    .title_sub {
        font-size: 24px;
    }


    .title {
        position: relative;
        display: inline-block;
        margin-bottom: 2em;
        text-align: center;
        color: #4D4D4D;
    }

    .title:before {
        content: '';
        position: absolute;
        bottom: -15px;
        display: inline-block;
        width: 60px;
        height: 2.5px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #525263;
        border-radius: 2px;
    }

    .title_2 {
        padding: 0.3em 1.5em 0.3em 1.5em;
        /*文字周りの余白*/
        color: #fff;
        /*文字色*/
        background: #b3b3b3;
        /*背景色*/
        border-radius: 100vh;
    }

    .title_pnt {
        position: relative;
        display: inline-block;
        margin-bottom: 3em;
        text-align: center;
        color: #4D4D4D;
    }

    .title_pnt::before {
        content: '';
        position: absolute;
        bottom: -40px;
        display: inline-block;
        width: 60px;
        height: 1px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #525263;
        border-radius: 2px;
    }

    .img_pc {
        width: 70%;
        text-align: center;
    }

    .text_sub {
        font-size: 12px;
        color: #a5a5a5;
        margin-top: -10px;
        line-height: -1em;
    }

    .under {
        background: linear-gradient(transparent 50%, #fff6c0 50%);
    }

    .bold {
        font-weight: bold;
    }

    .center {
        text-align: center;
    }

    .left {
        text-align: left;
    }

    .box1 {
        padding: 0.5em 1em;
        margin: 2em 0;
        border: solid 1px #dbdbdb;
    }

    .box3 {
        padding: 0.5em 2em;
        margin: 2em 0;
        color: #2c2c2f;
        background: #f8f8f8;
        /*背景色*/
    }

    .box3 p {
        color: #4d4d4d;
    }

    .box3 .title_sub {
        color: #333333;
    }

    .box19 {
        position: relative;
        padding: 0.25em 1em;
        width: 85%;
    }

    .box19:before,
    .box19:after {
        content: '';
        width: 30px;
        height: 40px;
        position: absolute;
        display: inline-block;
    }

    .box19:before {
        border-left: solid 2px #777777;
        border-top: solid 2px #777777;
        top: 0;
        left: 0;
    }

    .box19:after {
        border-right: solid 2px #777777;
        border-bottom: solid 2px #777777;
        bottom: 0;
        right: 0;
    }

    .box19 p {
        margin: 0;
        padding: 0;
    }

    .box_chui {
        padding: 0.5em 1em;
        margin: 2em 0;
        font-weight: bold;
        border: solid 3px #ff0000;
    }

    .box_chui p {
        margin: 0;
        padding: 0;
        color: #ff0000;
    }

    .box_free {
        margin: 4em 0;
    }


    .index_pnt {
        width: 150px;
    }

    @media screen and (max-width: 767px) {
        .index_pnt {
            width: 120px;
        }
    }

    .box_pnt {
        position: relative;
        padding: 0.25em 1em;
        border: solid 1px #d5d5d5;
        padding: 30px;
    }

    .box_pnt_text {
        padding-bottom: 30px;
    }

    .box_pnt h1 {
        font-size: 1.6em;
    }

    .box_seibun {
        position: relative;
        padding: 0.25em 1em;
        background-color: #E6F4FD;
    }

    @media screen and (max-width: 767px) {
        #item_detail .freearea p {
            margin-bottom: 40px;
        }
    }

    .btn-item-link {
        display: block;
        margin: 1em auto;
        padding: 10px;
        background: #4D4D4D;
        border-radius: 50px;

    }
			
			.img-item-link {
        display: block;
        margin: 1em auto;
        border-radius: 50px;

    }

    @media screen and (min-width: 768px) {
        .btn-item-link {
            width: 40%;

        }
		.img-item-link {
            width: 50%;

        }
    }

    .btn-item-link a {
        color: #FFF;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
    }

    ul.cp_list {
        padding: 0.5em;
        list-style-type: none;
        text-align: left;
    }

    ul.cp_list li {
        position: relative;
        padding-left: 25px;
        border-bottom: solid 1px #e5e5e5;
        margin-bottom: 0.5em;
        line-height: 2em;
    }

    ul.cp_list li:before {
        content: "";
        position: absolute;
        top: .1em;
        left: 0;
        -webkit-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
        transform: rotate(50deg);
        width: 8px;
        height: 18px;
        border-right: 1px solid #919191;
        border-bottom: 1px solid #919191;
    }


    .ul-align-center {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .kaihatsu .ceralabo_accordion dt a::before {
        display: none;
    }

    .sample_button:hover {
        opacity: 0.6;
    }


    a[href="#faq"]:link,
    a[href="#faq"]:visited {
        color: #4d4d4d;
    }

    a[href="#faq"]:hover {
        color: #9c9b9b;
    }

    a[href="#movie"]:link,
    a[href="#movie"]:visited {
        color: #4d4d4d;
    }

    a[href="#movie"]:hover {
        color: #9c9b9b;
    }
		  .feearea_banner {
			  margin-bottom: 100px;
		  }
</style>
 
        <div class="feearea_banner"><img src="/user_data/ceralabo/img_item/k9b/freeareaBanner.png" class="ceralabo_pc" alt=""><img src="/user_data/ceralabo/img_item/k9b/freeareBannerSP.png" class="ceralabo_pc_none" alt=""> </div>
        <!-------------------------- ▼▼▼▼タイトル▼▼▼▼ ------------------------------------>
        
        <center>
          <h1 class="main_title"> 洗浄科学を専門に研究したかずのすけの<br>
            こだわり成分 </h1>
        </center>
        <!-------------------------- ▲▲▲▲タイトル▲▲▲▲ ------------------------------------> 
        
        <img src="/user_data/ceralabo/img_item/k9b/img_item_k9b_pc_01.png" alt=""> 
        <h1 class="main_title center">不使用成分</h1>
        <img src="/user_data/ceralabo/img_item/k9b/img_item_k9a_pc_02re.png" class="ceralabo_pc" alt=""> <img src="/user_data/ceralabo/img_item/k9b/img_item_k9a_sp_02re.png" class="ceralabo_pc_none" alt="">
        <h1 class="main_title center"> How to use </h1>
        <img src="/user_data/ceralabo/img_item/k9b/img_cerabright_new_pc.png" class="ceralabo_pc" alt="CeraBright" usemap="#ImageMap03">
       <img src="/user_data/ceralabo/img_item/k9b/img_cerabright_new_sp.png" class="ceralabo_pc_none" alt="CeraBright" usemap="#ImageMap04">  
        <!----------------------- ▼▼ImageMap Sample Start▼▼ ---------------------------->
    <map name="ImageMap03">
          <area shape="rect" coords="123,896,457,1327" href="https://cores-ec.site/ceralabo/products/detail/66" alt="トリートメント" />
          <area shape="rect" coords="651,859,986,1329" href="https://cores-ec.site/ceralabo/products/detail/67" alt="ケミカルリペア" />
          <area shape="rect" coords="1086,859,1419,1323" href="https://cores-ec.site/ceralabo/products/detail/67" alt="ケミカルリペア" />
          <area shape="rect" coords="1086,1403,1419,1871" href="https://cores-ec.site/ceralabo/products/detail/66" alt="トリートメント" />
        </map>
<map name="ImageMap04">
          <area shape="rect" coords="20,312,146,485" href="https://cores-ec.site/ceralabo/products/detail/66" alt="トリートメント">
          <area shape="rect" coords="216,313,336,482" href="https://cores-ec.site/ceralabo/products/detail/67" alt="ケミカルリペア ">
          <area shape="rect" coords="374,312,497,483" href="https://cores-ec.site/ceralabo/products/detail/67" alt="ケミカルリペア ">
          <area shape="rect" coords="374,515,497,685" href="https://cores-ec.site/ceralabo/products/detail/66" alt="トリートメント">
        </map>
        <style>
area{
border:none;
outline:none;
}
</style>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/image-map-resizer/1.0.10/js/imageMapResizer.min.js"></script> 
        <script>
  imageMapResize();
</script> 
        <!----------------------- ▲▲ImageMap Sample End▲▲ ----------------------------> 

        <!-------------------------- ▼▼▼▼動画▼▼▼▼ ------------------------------------>
        <div id="movie" class="iframe-wrapper" style="margin-top: 100px;">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/ar1baRHCnKU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p class="ceralabo_btn_pageTop_wrap"> <a href="#" class="ceralabo_btn_pageTop" data-smoothScroll>Page Top <img src="/user_data/ceralabo/img/icon_doubleArrow.svg" alt="矢印"></a> </p>
        <style>
    .iframe-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        /* アスペクト比16:9の場合 */
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        margin-bottom: 2rem;
        /* YouTubeの下に余白をつける */
    }

    .iframe-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
        <!------------------------------------ ▲▲▲▲動画▲▲▲▲ ------------------------------------>