<style type="text/css">
    <!--
    a:hover {
        text-decoration:underline;
    }

    -->
    summary {
        cursor: pointer;
        outline: none;
    }



</style>




<div style="padding: 20px; margin-top: 10px; margin-bottom: 10px; margin-right: 20px; margin-left: 20px; border: 1px solid ;">
    <div style="text-align:center;
                ">
        <details>

            <summary><u style="font-size: 14px; line-height:26px;">【重要】システムメンテナンスのお知らせ</u></summary>
            <br>
            <br>
            <div style="font-size: 12px; line-height:20px;">
               2024年3月<br>
システムメンテナンスのお知らせ<br>
<br>
いつもセララボをご利用いただき、誠にありがとうございます。<br>
<br>
下記の日程において、システムメンテナンスを実施いたします。<br><br>
●第1回：2024年3月25日（月）AM0時～AM6時<br>
●第2回：2024年4月1日（月）AM0時～AM6時<br>
<br>
システムメンテナンス期間中は、ご注文・お問い合せ等すべての公式オンラインストアのサービスを停止いたします。<br>
メンテナンス直前のお買い物は、正しくご注文できない可能性がございますため、当日は時間に余裕を持ったご注文をお願いいたします。<br>
ご不便をおかけし誠に申し訳ございませんが、ご了承くださいますようお願い申し上げます。<br>
<br>
            </div>
        </details>

    </div>
</div>