{# ブロック名：価格改定のお知らせ #}
{# ファイル名：news_pricerevision_240110 #}

<style type="text/css">
    <!--
    a:hover {
        text-decoration:underline;
    }

    -->
    summary {
        cursor: pointer;
        outline: none;
    }



</style>




<div style="padding: 20px; margin-top: 10px; margin-bottom: 10px; margin-right: 20px; margin-left: 20px; border: 1px solid ;">
    <div style="text-align:center;
                ">
        <details>

            <summary><u style="font-size: 14px; line-height:26px;">【重要なお知らせ】セラヴェール スキンウォッシュ インデュース（250ml）価格改定に関してルのお知らせ</u></summary>
            <br>
            <br>
            <div style="font-size: 12px; line-height:20px;">
               2024年1月<br>
「セラヴェール スキンウォッシュ インデュース（250mL）」価格改定のお
知らせ<br>
<br>
日頃よりセララボをご愛顧いただきまして、誠にありがとうございます。<br>
<br>
この度、「セラヴェール スキンウォッシュ インデュース（250mL）」の価格改定を行うこ
ととなりました。<br>
昨今の相次ぐ原材料・資材等あらゆるコストの値上がりが弊社製品にも大きく影響を及ぼし
ております。<br>
今日まで企業努力を重ねて参りましたが、製品の価格改定を実施する運びとなりました。<br>
つきましては、誠に心苦しいところではございますが、2024年2月1日（木）より下記の通
り価格の改定を行います。<br>
何卒ご理解賜りますようお願いいたします。<br>
<br>
今後もより一層皆様のご期待に沿えるよう、よりよい商品・サービスのご提供に尽力して参
ります。<br>
変わらぬご愛顧を賜りますよう、心よりお願い申し上げます。<br>
<br>
1. 対象商品<br>
　●セラヴェール スキンウォッシュ インデュース（250mL）<br>
　●販売価格<br>
　　改定前：1,700円（税込）<br>
　　 改定後：1,800円（税込）<br>
<br>
2.改定実施日 ：2024年2月1日（木）<br>
　●公式オンラインストア：10：00～<br>
　●公式取扱い店舗：営業開始時間～<br>
<br>
なおオンラインストアにおいて、改訂実施時間直前は通信状況等により混み合うことが予想
されます。<br>
改訂前価格での購入をご希望される場合は、お早めにご注文を準備いただきますようお願い
いたします。<br>
<br>
            </div>
        </details>

    </div>
</div>
