<!-- ここにブロックのコンテンツを記述 -->
<style type="text/css">
    #floating-banner {
      position: fixed;
      top: 20px;
      right: 20px;
      z-index: 999;
      display: none; /* 最初は非表示に設定 */
    }
    .banner-close {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 9999;
      width: 30px;
      height: 30px;
      border: none;
      background-color: #fff;
    }
    .banner-close::before, .banner-close::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2em;
      height: 0.1em;
      background: #333;
    }
    .banner-close::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    .banner-close::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    #floating-banner.is-show {
      display: block; /* 表示状態にするためにdisplayをblockに変更 */
    }
    @media screen and (min-width: 1200px) {
      .banner-close {
        cursor: pointer;
      }
    }
    </style>
    <script>
  const popupShownKey = 'popupShown'; // 制御変数を宣言

document.addEventListener("DOMContentLoaded", function () {
  const closeButton = document.querySelector(".banner-close");
  const banner = document.getElementById("floating-banner");

  closeButton.addEventListener("click", function () {
    banner.style.display = "none";
    // ポップアップが閉じられたことを示す制御変数をセット
    sessionStorage.setItem(popupShownKey, true);
  });

  // 制御変数を確認し、ポップアップがまだ表示されていない場合に表示
  if (!sessionStorage.getItem(popupShownKey)) {
    banner.classList.add('is-show'); // 表示状態を切り替えるためにクラスを追加
  }
});

window.addEventListener("scroll", function () {
    var banner = document.getElementById("floating-banner");
    var scrollY = window.scrollY || window.pageYOffset;
    var bannerTopPosition = 100; // バナーの上部からの初期位置

    banner.style.top = bannerTopPosition + scrollY + "px";
});
    </script>
    <div id="floating-banner">
    {% set request_path = app.request.getPathInfo() %}
    {% if request_path == '/ceralabo/products/detail/314' or request_path == '/ceralabo/products/detail/266' %}
      <button class="banner-close"></button>
      <a href="https://lin.ee/RMpAC6W" target="_blank"><img src="{{ app.config.user_data_urlpath }}/ceralabo/popup/10.png"/></a>
    {% elseif request_path == '/ceralabo/products/detail/311' %}
      <button class="banner-close"></button>
      <a href="https://lin.ee/RMpAC6W" target="_blank"><img src="{{ app.config.user_data_urlpath }}/ceralabo/popup/11.png"/></a>
    {% endif %}
    </div>