{% extends 'default_frame.twig' %}
{% block main %}
<div class="main_only">
<div class="container-fluid inner no-padding">
  <div id="main">
    <div class="container-fluid">
      <div id="feature01_box__body" class="row">
        <div id="feature01_box__body_inner" class="col-md-10 col-md-offset-1">
          <style>
.ceralabo_top_feature_box_scrolllst_item_photo img {
margin-top: 40px;
}
</style>
          <div class="ceralabo_top_feature">
            <div class="ceralabo_top_feature_box">
              <h2 class="ceralabo_ttl_main"> Topics </h2>
              <h3 class="ceralabo_ttl_main_sml">特集</h3>
              <div class="row ceralabo_top_feature_box_scrolllst"> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics01">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/01/topics01_2.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">オフスキンケア開発秘話</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">セララボは「かずのすけ」の想いから作られたブランドです。</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics00">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/00/topics00_01_2.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">かずのすけ、とは</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">お肌に悩むすべての方のお力になれれば幸いです。</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics02">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/02/topics02_2.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">はじめてみよう、オフスキンケア</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">CeraLabo初心者におすすめの3点セットをご紹介致します。</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
              </div>
              <div class="row ceralabo_top_feature_box_scrolllst"> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics03">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/03/topics03_2.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">新商品発売</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">セラネージュ　リキッドファンデーションに待望の新色がついに発売。</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics04">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/04/topics04_2.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">秋におすすめのアイテム</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">夏の刺激に頑張り抜いたお肌に、冬本番までに仕込んでおきたいスキンケアをご紹介。</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics05">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/05/topics05_2.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">冬におすすめのアイテム</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">お肌にとっては過酷な季節。いつもより丁寧にお肌を労わってあげましょう。</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                
              </div>
              <div class="row ceralabo_top_feature_box_scrolllst"> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics06">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/06/topics06_2.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">スキンウォッシュの選び方 </dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">オフスキンケアで一番大切なことは「洗浄力」です。</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics07">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/07/topics07_2.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">オフスキンケアとは</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">化粧品を使うほどにきれいになる？</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics08">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/08/topics08_2.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">「セラミド」とは 肌バリアを司る美肌成分</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">CeraLaboのスキンケアに欠かせない成分「セラミド」についてご紹介します。</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                
              </div>
              <div class="row ceralabo_top_feature_box_scrolllst"> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics09">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/09/topics09_2.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">クレンジングオイルのご紹介</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">「セラヴェールプラチナムクレンジングオイル」の秘密についてご紹介します。</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics10">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/10/topics10_2.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">セララボのセラキュアシリーズ</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">お肌に合わせたおすすめの商品とスキンケアの際に抑えるポイントをお伝え致します。</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics11">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/11/topics11_2.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">セララボのエイジングケア</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">セララボの中でもエイジングケアに特化した「セラシエルシリーズ」のご紹介です。</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                
              </div>
              <div class="row ceralabo_top_feature_box_scrolllst"> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics12">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/12/topics12_2.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">春におすすめのアイテム</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">新生活を心地よく過ごすためのスキンケアをご紹介します。</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics13">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/13/topics13_2.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">花粉の肌荒れ対策に！ 原因とスキンケアのポイント3選 </dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">花粉にまつわる肌トラブル軽減策についてご紹介します。</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics14">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/14/topics14_2.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">Mother's Day</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">いつも頑張っているお母さんに、キレイの贈り物を届けませんか？</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
              </div>
              <div class="row ceralabo_top_feature_box_scrolllst"> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics15">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/15/topics15_01.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">日焼け止めの選び方</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">夏の必須アイテム「日焼け止め」の選び方についてご紹介します</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics16">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/16/topics16_01.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">夏におすすめのアイテム</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">夏のダメージから肌を守るアイテムをご紹介します。</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics17">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/17/topics17_01.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">「ノンケミカル」とは？自分に合った日焼け止めの選び方</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">「ノンケミカルとは実際どういうことなの？」にお答えします。</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                
              </div>
              <div class="row ceralabo_top_feature_box_scrolllst"> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics18">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/18/topics18_01.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">やさしさを追求したベースメイク</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">セララボのベースメイク用品「セラネージュシリーズ」</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics20">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/20/topics20_01.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">乾燥ではない？粉吹き肌の原因と対策</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">唇メイクをした数時間後、皮膚がポロポロむけているという経験はありませんか？</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics21">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/21/topics21_01.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">冬の肌を守る方法とは</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">いつものケアに足りない保湿をプラスして、ふっくら潤う素肌を守りましょう。</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                
              </div>
              <div class="row ceralabo_top_feature_box_scrolllst"> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics22">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/22/topics22_01.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">荒れにくい唇を育てる「６つの習慣」</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">「唇荒れ対策」を６つご紹介します。<br>
                        </dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics23">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/23/topics23_1.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">ＮＭＦ（天然保湿因子）と肌の仕組み</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">実はＮＭＦは、健やかな肌に最も大切な成分のひとつ。</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics24">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/24/topics24_01.png"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">ニキビ肌は注意？「グリセリン」の話</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">グリセリンの性質や、使用する際に気をつける点をご紹介します。</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                
              </div>
              <div class="row ceralabo_top_feature_box_scrolllst"> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics25">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/25/topics25_06.jpg"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">セラキュアセンシティブシリーズのご紹介</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">ご好評をいただいている「セラキュアセンシティブシリーズ」の魅力をご紹介。</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                
                <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics26">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/26/topics26_16.jpg"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">2022年の成分リニューアルについて</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">2022年の一部アイテムの成分リニューアルについて、その経緯をご説明いたします。</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------>
                
                <div class="row ceralabo_top_feature_box_scrolllst"> 
                  
                  <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                  <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                    <div> <a href="https://cores-ec.site/ceralabo/user_data/topics27">
                      <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/27/topics27_10.jpeg"> </div>
                      <div class="ceralabo_top_feature_box_scrolllst_item_info">
                        <dl>
                          <dt class="ceralabo_top_feature_box_scrolllst_item_name">セララボ初 2種の薬用美容液のご紹介</dt>
                          <dd class="ceralabo_top_feature_box_scrolllst_item_comment">セララボから初めて、有効成分を配合した薬用美容液が登場。</dd>
                        </dl>
                      </div>
                      </a> </div>
                  </div>
                  <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                </div>
                <div class="row ceralabo_top_feature_box_scrolllst"> 
                  
                  <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
                  <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                    <div> <a href="https://cores-ec.site/ceralabo/user_data/topics28">
                      <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/28/topics28_01.jpg"> </div>
                      <div class="ceralabo_top_feature_box_scrolllst_item_info">
                        <dl>
                          <dt class="ceralabo_top_feature_box_scrolllst_item_name">ベンリーゼ<sup>Ⓡ</sup>とは？</dt>
                          <dd class="ceralabo_top_feature_box_scrolllst_item_comment">旭化成が生産する、肌にやさしい素材でできたシートのご紹介。</dd>
                        </dl>
                      </div>
                      </a> </div>
                  </div>
                  <!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> 
                <div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
                  <div> <a href="https://cores-ec.site/ceralabo/user_data/topics29">
                    <div class="ceralabo_top_feature_box_scrolllst_item_photo"> <img src="/user_data/ceralabo/img_topics/29/topics_bn.jpg"> </div>
                    <div class="ceralabo_top_feature_box_scrolllst_item_info">
                      <dl>
                        <dt class="ceralabo_top_feature_box_scrolllst_item_name">レチノールトピックス</dt>
                        <dd class="ceralabo_top_feature_box_scrolllst_item_comment">CeraLabo初 2種のレチノール美容液のご紹介</dd>
                      </dl>
                    </div>
                    </a> </div>
                </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}