<div class="l-contents-original u-mb-20">
  <div class="p-news-box">
    <button class="js-normal-accordion-trigger c-text-link-line-black">
      「セラヴェール ウォッシュケア トライアルセット」と「エクストラセット（選べるトライアルセット）」販売終了に関するご案内
    </button>
    <div class="p-news-box__in">
      <p class="u-fs-12 u-mt-16">
        2024年5月<br><br>
        平素よりセララボをご利用いただきまして、ありがとうございます。<br><br>
        この度、長らくご愛顧頂いておりました「セラヴェールウォッシュケアトライアルセット」と「エクストラセット（選べるトライアルセット）」は、出庫期限及び代替新製品との切り替えのため2024年6月4日(火)12時に販売を終了いたします。<br>
        店頭におきましても同日に販売終了いたします。<br><br>
        なお、本製品の代替新製品は現在準備を進めております。<br>
        一ヶ月以内には新報をお届けできる見立てでございますので今しばらくお待ちくださいませ。<br><br>
        ▼販売終了商品<br>
        ・セラヴェール ウォッシュケア トライアルセット<br>
        ・エクストラセット（選べるトライアルセット）<br>
        ※エクストラセット以外の選べるトライアルセットは、引き続きご購入いただけます。<br><br>
        皆様にはご不便のことと存じますが、新製品発売までの一時的なものでございますので、何卒ご了承くださいませ。<br>
        今後ともセララボをご愛顧いただけますよう宜しくお願いいたします。<br><br>
      </p>
    </div>
  </div>
</div>