<font color="#FF0000">【重要】こちらの商品は、2024年6月4日(火)12時に販売終了いたします。</font>
<a href="#faq">詳しくはこちら</a>

オフスキンケアの基本である「洗浄力」を担うセラヴェールシリーズの、クレンジング&amp;スキンウォッシュ２種類をお試しいただけるセットです。

<font size="2">■</font>商品名：CeraVeil Wash Care Trial Set

<font size="2">■</font>内容量：
セラヴェール プラチナムクレンジングオイル 　30mL
セラヴェール スキンウォッシュ インデュース 　30mL
セラヴェール スキンウォッシュ エクストラ 　　30mL

<font size="2">■</font>全成分：
<strong>《セラヴェール - プラチナムクレンジングオイル -》</strong>
マカデミア種子油、トリイソステアリン酸PEG-20グリセリル、スクワラン、トリイソステアリン酸PEG-3グリセリル、コメヌカ油、アルガニアスピノサ核油、オリーブ果実油、アボカド油、トコフェロール

<strong>《セラヴェール スキンウォッシュ - インデュース - 》</strong>
水、ラウレス-6カルボン酸Na、コカミドDEA、ラウロイルグルタミン酸TEA、コカミドプロピルベタイン、ラウラミドDEA、ペンチレングリコール、ラウリン酸BG、ヒアルロン酸Na、グリチルリチン酸2K、グリセリン、塩化Na、EDTA-2Na、クエン酸、エチルヘキシルグリセリン、フェノキシエタノール

※「ラウレス-5カルボン酸Na」が「ラウレス-6カルボン酸Na」と記載されている製品がございますが、表示名称改定によるもので同一成分になります。

<strong>《セラヴェール スキンウォッシュ - エクストラ - 》</strong>
水、ラウロイルグルタミン酸TEA、ラウロイルメチルアラニンNa、コカミドDEA、コカミドプロピルベタイン、ラウラミドDEA、ペンチレングリコール、ラウリン酸BG、ヒアルロン酸Na、グリチルリチン酸2K、グリセリン、塩化Na、EDTA-2Na、クエン酸、エチルヘキシルグリセリン、フェノキシエタノール


<font size="2">■</font>送料：全国一律無料

<font size="2">■</font>こちらの商品はゆうパケット対象商品です。

<hr noshade="noshade" align="left" /><font size="2">■</font>配送方法につきまして

ご注文商品がゆうパケットの規格におさまらない場合は、弊社より配送方法を佐川急便へ変更させていただきます。
発送完了メールに記載の追跡番号より配送方法をご確認ください。
なお、変更にあたってお客様へ事前のご連絡はございません。予めご了承くださいますようお願い申し上げます。

※佐川急便へ変更後も、お客様にご負担いただく送料は発生いたしません。
<hr noshade="noshade" align="left" />
※容器と同じ色の封印シールを貼付しておりますので、剥がしてからご使用ください。
<hr noshade="noshade" align="left" />










<!-------------------------- ▼▼▼▼動画▼▼▼▼ ------------------------------------>
    <div id="movie" class="iframe-wrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/p4fYKUbFGtE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <style>
        .iframe-wrapper {
            position: relative;
            padding-bottom: 56.25%; /* アスペクト比16:9の場合 */
            padding-top: 30px;
            height: 0;
            overflow: hidden;
            margin-bottom: 2rem; /* YouTubeの下に余白をつける */
        }
        .iframe-wrapper iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
    <!------------------------------------ ▲▲▲▲動画▲▲▲▲ ------------------------------------>
<div  class="ceralabo_pc">
    <!----------------------- ▼▼▼▼▼PC▼▼▼▼▼ ---------------------------->
    <img src="/html/user_data/assets/ceralabo/img_item/k23a/img_item_k23a_pc_01.png" class="ceralabo_pc" alt="CeraLabo">
    
    <!----------------------- ▼▼トピックス▼▼ ---------------------------->
    <a href="{{ url('user_data', {'route': 'topics06'}) }}">
    <img src="/html/user_data/assets/ceralabo/img_item/k23a/img_item_k23a_pc_02.png" class="ceralabo_pc" alt="CeraLabo">
    </a>
    <!----------------------- ▲▲トピックス▲▲ ---------------------------->
    
    
    <br><br><br>
    <center>
    <p>
    個別の商品についてはこちら
    </p>
    </center>
    
    
    <a href="/ceralabo/products/detail/52">
    <img src="/html/user_data/assets/ceralabo/img_item/k23a/img_item_k23a_pc_03.png" class="ceralabo_pc" alt="CeraLabo">
    </a>
    
    <a href="/ceralabo/products/detail/55">
    <img src="/html/user_data/assets/ceralabo/img_item/k23a/img_item_k23a_pc_04.png" class="ceralabo_pc" alt="CeraLabo">
    </a>
    
    <a href="/ceralabo/products/detail/56">
    <img src="/html/user_data/assets/ceralabo/img_item/k23a/img_item_k23a_pc_05.png" class="ceralabo_pc" alt="CeraLabo">
    </a>
    <!----------------------- ▲▲▲▲▲PC▲▲▲▲▲ ---------------------------->
    </div>
    
    <div  class="ceralabo_pc_none">
    <!----------------------- ▼▼▼▼▼SP▼▼▼▼▼ ---------------------------->
    <img src="/html/user_data/assets/ceralabo/img_item/k23a/img_item_k23a_sp_01.png" class="ceralabo_pc_none" alt="CeraLabo">
    
    <!----------------------- ▼▼トピックス▼▼ ---------------------------->
    <a href="{{ url('user_data', {'route': 'topics06'}) }}">
    <img src="/html/user_data/assets/ceralabo/img_item/k23a/img_item_k23a_sp_02.png" class="ceralabo_pc_none" alt="CeraLabo">
    </a>
    <!----------------------- ▲▲トピックス▲▲ ---------------------------->
    
    <br><br><br>
    <center>
    <p class="products_title">
    個別の商品についてはこちら
    </p>
    </center>
    
    <a href="/ceralabo/products/detail/52">
    <img src="/html/user_data/assets/ceralabo/img_item/k23a/img_item_k23a_sp_03.png" class="ceralabo_pc_none" alt="CeraLabo">
    </a>
    
    <a href="/ceralabo/products/detail/55">
    <img src="/html/user_data/assets/ceralabo/img_item/k23a/img_item_k23a_sp_04.png" class="ceralabo_pc_none" alt="CeraLabo">
    </a>
    
    <a href="/ceralabo/products/detail/56">
    <img src="/html/user_data/assets/ceralabo/img_item/k23a/img_item_k23a_sp_05.png" class="ceralabo_pc_none" alt="CeraLabo">
    </a>
    <!----------------------- ▲▲▲▲▲SP▲▲▲▲▲ ---------------------------->
    </div>
    
    
    <!----------------------- 商品詳細ここまで ---------------------------->
    
    
    
    
    <!-------------------------- ▼▼▼▼ブログリンク▼▼▼▼ ------------------------------------>
    <br><br>
    <hr noshade="" align="left">
    <br>
    <style>
        .products_title {
            margin-bottom: 16px;
        }
        .blog_link{
            line-height: 2;
        }
        .blog_title{
            margin-bottom: 16px;
            font-size: 24px;
        }
    </style>

    <p class="blog_title">■ かずのすけの解説と皆様からの声</p>
    
    <div class="blog_link">
    
    
    <a href="https://ameblo.jp/rik01194/entry-12398748554.html"><u><font color="#5c5c5c">
    CeraLabo試してみるならまずはここから！『オフスキンケア3点セット』の紹介！
    </font></u></a><br>
    
    <a href="https://ameblo.jp/rik01194/entry-12167198154.html"><u><font color="#5c5c5c">
    【CeraVeil Platinum Cleansing Oil】紹介＆意見投稿ページ
    </font></u></a><br>
    
    <a href="https://ameblo.jp/rik01194/entry-12014635721.html"><u><font color="#5c5c5c">
    『CeraVeil　Skinwash』の紹介と解説
    </font></u></a><br>
    
    <a href="https://ameblo.jp/rik01194/entry-12039391070.html"><u><font color="#5c5c5c">
    セラヴェールスキンウォッシュの基本の使い方
    </font></u></a><br>
    
    <a href="https://ameblo.jp/rik01194/entry-12210944055.html"><u><font color="#5c5c5c">
    油脂系クレンジング後のW洗顔、する？しない？　見極めのコツ
    </font></u></a><br>
    
    <a href="https://ameblo.jp/rik01194/entry-12041298860.html"><u><font color="#5c5c5c">
    【セラヴェールスキンウォッシュ】嬉しいレビュー続々！
    </font></u></a><br>
    
    <a href="https://ameblo.jp/rik01194/entry-12046129249.html"><u><font color="#5c5c5c">
    【セラヴェールスキンウォッシュ】嬉しいレビュー　その２
    </font></u></a><br>
    
    
    
    <br>
    </div>
    <hr noshade="" align="left">
    <br><br><br>
    <!------------------------------------ ▲▲▲▲ブログリンク▲▲▲▲ ------------------------------------>


   <div id="faq" style="margin-top:4em;">
    <!-------------------------- ▼▼▼▼FAQ▼▼▼▼ ------------------------------------>
    <dl class="ceralabo_accordion" data-accordion>
      <dt><a href="#">【重要】こちらの商品は、2024年6月4日(火)12時に販売終了いたします。<i class="ceralabo_accordion_icon"></i></a></dt>
      <dd>平素よりセララボをご利用いただきまして、ありがとうございます。<br><br>
誠に勝手ながら、「セラヴェール ウォッシュケア トライアルセット」は、2024年6月4日(火)12時に販売を終了いたします。<br><br>
店頭におきましても同日に販売終了いたします。<br><br>
なお、近日中に代替商品を発売予定です。お知らせまでお待ちくださいませ。<br><br>
皆様にはご不便やご迷惑をおかけいたしますこと深くお詫び申し上げます。<br>
今後ともセララボをご愛顧いただけますよう宜しくお願いいたします。
</dd>
</dl>
</div>


<!-------------------------- ▼▼▼▼動画▼▼▼▼ ------------------------------------>
<div id="movie" class="iframe-wrapper">
<iframe width="560" height="315" src="https://www.youtube.com/embed/c6jZRMHXd5Q?si=P-DYztEFeXlvH5fb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<!------------------------------------ ▲▲▲▲動画▲▲▲▲ ------------------------------------>

<!-------------------------- ▼▼▼▼バナー▼▼▼▼ -----------------------------------> 
<div class="banner-wrapper"> <a href="https://lin.ee/snrN2Tb
" target="_blank" rel="noopener noreferrer"><img src="/html/user_data/assets/ceralabo/img/banner_line.png" alt="セララボLINE公式アカウント"/></a> </div>
<p class="ceralabo_btn_pageTop_wrap"> <a href="#" class="ceralabo_btn_pageTop" data-smoothScroll>Page Top <img src="/html/user_data/assets/ceralabo/img/icon_doubleArrow.svg" alt="矢印"></a> </p>
<style>
.banner-wrapper {
margin-bottom: 2rem;
margin-top: 60px;
}
</style>
<!------------------------------------ ▲▲▲▲バナー▲▲▲▲ ------------------------------------>