スキンウォッシュフォーム（インデュース・エクストラ・クリアリー）専用の詰替え容器です。
キメ細かく濃密な泡で、肌をやさしく洗浄することができます。

※こちらは空容器です。洗顔料は付属しておりませんので、別売のスキンウォッシュフォーム（インデュース・エクストラ・クリアリー）を詰替えてご使用ください。

<font size="2">■</font>商品名：スキンウォッシュフォーム詰替ボトル

<font size="2">■</font>仕様：空容器（容量 150mL） 1個

<font size="2">■</font>送料：全国一律無料
※こちらの商品は、あわせ買い対象商品です。他の商品１点以上と一緒にご注文ください。

<a href="#faq"><font size="2">■</font>よくある質問はこちら</a>

<hr noshade="noshade" align="left" />

{# ここからフリーエリア #}

<style>
@media (64em <= width) {
    .p-wrap-product-detail-contents {
        font-feature-settings: "palt";
    }
}
    p {
        line-height: 1.5em;
        font-color: #4D4D4D;
        padding: 0;
        margin: 0;
    }

    .main_title {
        font-size: 2em;
        text-align: center;
    }

    .title_sub {
        font-size: 24px;
    }


    .title {
        position: relative;
        display: inline-block;
        margin-bottom: 2em;
        text-align: center;
        color: #4D4D4D;
    }

    .title:before {
        content: '';
        position: absolute;
        bottom: -15px;
        display: inline-block;
        width: 60px;
        height: 2.5px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #525263;
        border-radius: 2px;
    }

    .title_2 {
        padding: 0.3em 1.5em 0.3em 1.5em;
        /*文字周りの余白*/
        color: #fff;
        /*文字色*/
        background: #b3b3b3;
        /*背景色*/
        border-radius: 100vh;
    }

    .img_pc {
        width: 70%;
        text-align: center;
    }

    .text_sub {
        font-size: 12px;
        color: #a5a5a5;
        margin-top: -10px;
        line-height: -1em;
    }

    .under {
        background: linear-gradient(transparent 50%, #fff6c0 50%);
    }

    .bold {
        font-weight: bold;
    }

    .center {
        text-align: center;
    }

    .left {
        text-align: left;
    }

    .box1 {
        padding: 0.5em 1em;
        margin: 2em 0;
        border: solid 1px #dbdbdb;
    }

    .box3 {
        padding: 0.5em 2em;
        margin: 2em 0;
        color: #2c2c2f;
        background: #f8f8f8;
        /*背景色*/
    }

    .box3 p {
        color: #4d4d4d;
    }

    .box3 .title_sub {
        color: #333333;
    }

    .box19 {
        position: relative;
        padding: 0.25em 1em;
        width: 85%;
    }

    .box19:before,
    .box19:after {
        content: '';
        width: 30px;
        height: 40px;
        position: absolute;
        display: inline-block;
    }

    .box19:before {
        border-left: solid 2px #777777;
        border-top: solid 2px #777777;
        top: 0;
        left: 0;
    }

    .box19:after {
        border-right: solid 2px #777777;
        border-bottom: solid 2px #777777;
        bottom: 0;
        right: 0;
    }

    .box19 p {
        margin: 0;
        padding: 0;
    }

    .box_chui {
        padding: 0.5em 1em;
        margin: 2em 0;
        font-weight: bold;
        border: solid 3px #ff0000;
    }

    .box_chui p {
        margin: 0;
        padding: 0;
        color: #ff0000;
    }

.box_free {
        margin: 4em 0;
    }

    .btn-item-link {
        display: block;
        margin: 1em auto;
        padding: 10px;
        background: #4D4D4D;
        border-radius: 50px;

    }

    @media screen and (min-width: 768px) {
        .btn-item-link {
            width: 50%;

        }
    }

    .btn-item-link a {
        color: #FFF;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
    }

    ul.cp_list {
        padding: 0.5em;
        list-style-type: none;
        text-align: left;
    }

    ul.cp_list li {
        position: relative;
        padding-left: 25px;
        border-bottom: solid 1px #e5e5e5;
        margin-bottom: 0.5em;
        line-height: 2em;
    }

    ul.cp_list li:before {
        content: "";
        position: absolute;
        top: .1em;
        left: 0;
        -webkit-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
        transform: rotate(50deg);
        width: 8px;
        height: 18px;
        border-right: 1px solid #919191;
        border-bottom: 1px solid #919191;
    }


    .ul-align-center {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    a[href="#faq"]:link,
    a[href="#faq"]:visited {
        color: #4d4d4d;
    }

    a[href="#faq"]:hover {
        color: #9c9b9b;
    }

    a[href="#movie"]:link,
    a[href="#movie"]:visited {
        color: #4d4d4d;
    }

    a[href="#movie"]:hover {
        color: #9c9b9b;
    }
</style>

<!-------------------------- ▼▼▼▼動画▼▼▼▼ ------------------------------------>
<div id="movie" class="iframe-wrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/oHVckz3AvbA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<style>
    .iframe-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        /* アスペクト比16:9の場合 */
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        margin-bottom: 2rem;
        /* YouTubeの下に余白をつける */
    }

    .iframe-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
<!------------------------------------ ▲▲▲▲動画▲▲▲▲ ------------------------------------>
    <!-------------------------- ▼▼▼▼タイトル▼▼▼▼ ------------------------------------>
    
    <center>
      <p class="center"> キメ細かく濃密な泡で、肌をやさしく洗浄できる、<br>

スキンウォッシュフォーム専用容器です。</p>
    </center>
    <div style="margin-top: 4rem;"> <img  style="margin: 0 auto;" src="/html/user_data/assets/ceralabo/img_item/k37a/img_awaset.jpg" alt="イメージ画像"/> </div>
    <!-------------------------- ▲▲▲▲タイトル▲▲▲▲ ------------------------------------>
    	<!-------------------------- ▼▼▼▼ 購入はこちら ▼▼▼▼ ------------------------------------>  
    <div class="box_free"> <img src="/html/user_data/assets/ceralabo/img_item/k37a/img_btn.png" class="ceralabo_pc" alt="購入はこちら" usemap="#ImageMap01"> <img src="/html/user_data/assets/ceralabo/img_item/k37a/img_btn_sp.png" class="ceralabo_pc_none" alt="購入はこちら" usemap="#ImageMap02"> </div>
    <!----------------------- ▼▼ImageMap Sample Start▼▼ ---------------------------->
    <map name="ImageMap01">
      <area shape="rect" coords="1088,1801,246,1584" href="https://cores-ec.site/ceralabo/products/detail/1112" alt="スキンウォッシュ　インデュース">
      <area shape="rect" coords="1247,1801,2084,1587" href="https://cores-ec.site/ceralabo/products/detail/1113" alt="スキンウォッシュ　エキストラ">
      <area shape="rect" coords="2243,1798,3088,1592" href="https://cores-ec.site/ceralabo/products/detail/1114" alt="スキンウォッシュ　クリアリー">
    </map>
    <map name="ImageMap02">
      <area shape="rect" coords="322,1037,1175,874" href="https://cores-ec.site/ceralabo/products/detail/1112" alt="スキンウォッシュ　インデュース">
      <area shape="rect" coords="326,1944,1175,1794" href="https://cores-ec.site/ceralabo/products/detail/1113" alt="スキンウォッシュ　エキストラ">
      <area shape="rect" coords="320,2856,1179,2714" href="https://cores-ec.site/ceralabo/products/detail/1114" alt="スキンウォッシュ　クリアリー">
    </map>
    <style>
area{
border:none;
outline:none;
}
</style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script> 
    <script>
    $('img[usemap]').rwdImageMaps();
</script> 
    <!----------------------- ▲▲ImageMap Sample End▲▲ ---------------------------->
	<!-------------------------- ▲▲▲▲ 購入はこちら ▲▲▲▲ ------------------------------------>  
    <div class="btn-item-link center"> <a href="https://cores-ec.site/ceralabo/user_data/topics31"> スキンウォッシュの選び方や使い分けを<br>
      知りたい方はこちら</a> </div>
    <div class="box_free">
      <h1 class="main_title center">使い方・使用手順</h1>
      <p class="center">必ず専用の泡ポンプボトルに入れ、<br class="pc_hid">中身が出るまで数回プッシュしてください。<br>
        ３プッシュ程度を手に取り、<br class="pc_hid">泡で顔を包み込むようにやさしく洗い、<br class="pc_hid">ぬるま湯で十分にすすいでください。<br>
        <br>
        なお、泡タイプの全身用洗浄料の詰替えは、<br class="pc_hid">専用泡ポンプボトルへの詰替え約2回分です。</p>
      <img  style="margin: 4rem auto 0;" src="/html/user_data/assets/ceralabo/img_item/k37a/img_wh.jpg" alt="イメージ画像"/> </div>
    <!--
<center>
<div class="btn-item-link" style="background: #fe0000;">
<a class="link-video" href="#movie" style="color: #fff;" data-smoothScroll>
動画で使い方を見る
</a>
</div>
</center>
-->
    
    <style>
    a.link-video::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 14px;
        background: url({{ app.config.user_data_urlpath }}/ceralabo/img/img_icon_video.png) no-repeat;
        background-size: contain;
        margin-right: 3px;
    }
</style>
    
    <!----------------------- 商品詳細ここまで ---------------------------->
    <div id="faq" style="margin-top:4em;">
      <center>
        <h2 class="title">よくある質問</h2>
      </center>
      <dl class="ceralabo_accordion" data-accordion>
        <dt><a href="#">詰め替えの際、泡ポンプボトルは洗浄した方がいいですか？<i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> 使い始めは洗浄する必要はありません。２回目の詰替えの際は、しっかりと洗浄しよく乾かして、清潔な状態にして詰替えてください。 </dd>
        <dt><a href="#">スキンウォッシュ液体タイプを水で薄めて泡ポンプボトルに詰め替えて使ってもいいですか？ <i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> ポンプの破損や雑菌が繁殖して腐敗の原因になる場合があるため、弊社として積極的に推奨はしておりません。ただし、お客様の責任でご利用になることについての判断はお任せしております。</dd>
        <dt><a href="#">泡ポンプボトルに詰め替えた状態で浴室で保管してもいいですか？ <i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> 基本的に浴室での保管は問題ありません。<br>

泡ポンプボトルに水が入らないように注意し、極端に低温または高温になったり、直射日光に当たる環境での保管はお控えください。 </dd>
        <dt><a href="#">泡ポンプボトルはどれくらいの頻度で買い替えるのがいいですか？<i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> 半年程度を目安に新しいポンプボトルに取り替えをお勧めしております。 </dd>
        <dt><a href="#">セララボの泡ポンプボトルに、他社の泡で出る洗顔料を詰め替えてもいいですか？ <i class="ceralabo_accordion_icon"></i></a></dt>
        <dd>他製品の詰替えはお控えください。詰まりの原因になる可能性があります。 </dd>
      </dl>
    </div>
    
    <!-------------------------- ▼▼▼▼ブログリンク▼▼▼▼ ------------------------------------>
    <hr noshade="" align="left">
    <br>
    <style>
    .blog_link {
        line-height: 2;
    }

    .blog_title {
        font-size: 24px;
    }
</style>
    {# 公開までコメントアウト #}
    {# <p class="blog_title">■ かずのすけの解説 </p>
    <div class="blog_link"> <a href="https://ameblo.jp/rik01194/entry-12694449305.html"><u> <font color="#5c5c5c"> セラミド＆NMF同時配合、グリセリンフリー＆ノンオイル【セラキュア センシティブジェリー】開発中 </font> </u></a><br>
      <a href="https://ameblo.jp/rik01194/entry-12712263755.html"><u> <font color="#5c5c5c"> セラミド×NMF×グリセリンフリー保湿ジェル【セラキュアセンシティブジェリー】1月中旬発売決定！ </font> </u></a><br>
      <br>
    </div> #}
    <hr noshade="" align="left">
    <br>
    <br>
    <br>
    <!------------------------------------ ▲▲▲▲ブログリンク▲▲▲▲ ------------------------------------> 
    <!-------------------------- ▼▼▼▼バナー▼▼▼▼ ----------------------------------->
    <p class="ceralabo_btn_pageTop_wrap"> <a href="#" class="ceralabo_btn_pageTop" data-smoothScroll>Page Top <img src="/html/user_data/assets/ceralabo/img/icon_doubleArrow.svg" alt="矢印"></a> </p>
    <style>
.banner-wrapper {
margin-bottom: 2rem;
margin-top: 60px;
}
</style>
    <!------------------------------------ ▲▲▲▲バナー▲▲▲▲ ------------------------------------>