この商品は、泡タイプの全身用洗浄料（詰替えパック（2回分））と泡ポンプボトル（空容器）です。
初めて購入される際は、専用の泡ポンプボトルと一緒にご購入ください。
衛生的にお使いいただくために、詰め替えの際にはボトルを洗浄し、完全に乾かしてください。また、半年に一度程度の頻度で、新しい泡ポンプボトルへの取り替えを推奨しております。

スキンウォッシュシリーズに泡タイプが新登場しました。
インデュースよりも少し洗浄力の高い「コハク酸系」の洗顔・ボディ兼用ソープです。
インデュース・エクストラと比較するとすっきりとした洗い上がりが特徴の弱酸性ソープで、脂性肌・皮脂トラブル肌質の方やメンズにもお勧めです。
グリセリンフリー。洗浄によりニキビを防ぎます。

<font size="2">■</font>商品名：CeraVeil Skin Wash Foam -Clearly-
スキンウォッシュフォーム詰替ボトル（容量：約150ｍL）
※専用容器の販売ページは<a href="https://cores-ec.site/ceralabo/products/detail/1115">こちら</a>

<font size="2">■</font>内容量：300mL
※泡ポンプボトルへの詰替え約2回分。

<font size="2">■</font>全成分：水、スルホコハク酸ラウレス２Na、コカミドDEA、ココイルグルタミン酸TEA、コカミドプロピルベタイン、ラウラミドDEA、ヒアルロン酸Na、グリチルリチン酸２K、塩化Na、EDTA-２Na、フェノキシエタノール、メチルパラベン

<font size="2">■</font>不使用成分：アルコール（エタノール） / 植物エキス / 精油 / オイル / サルフェート系界面活性剤 / グリセリン / 着色剤 / 香料

<font size="2">■</font>送料：全国一律無料

<a href="#faq"><font size="2">■</font>よくある質問はこちら</a>

<hr noshade="noshade" align="left" />

{# ここからフリーエリア #}

<style>
@media (64em <= width) {
    .p-wrap-product-detail-contents {
        font-feature-settings: "palt";
    }
}
    p {
        line-height: 1.5em;
        font-color: #4D4D4D;
        padding: 0;
        margin: 0;
    }

    .main_title {
        font-size: 2em;
        text-align: center;
    }

    .title_sub {
        font-size: 24px;
    }


    .title {
        position: relative;
        display: inline-block;
        margin-bottom: 2em;
        text-align: center;
        color: #4D4D4D;
    }

    .title:before {
        content: '';
        position: absolute;
        bottom: -15px;
        display: inline-block;
        width: 60px;
        height: 2.5px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #525263;
        border-radius: 2px;
    }

    .title_2 {
        padding: 0.3em 1.5em 0.3em 1.5em;
        /*文字周りの余白*/
        color: #fff;
        /*文字色*/
        background: #b3b3b3;
        /*背景色*/
        border-radius: 100vh;
    }

    .img_pc {
        width: 70%;
        text-align: center;
    }

    .text_sub {
        font-size: 12px;
        color: #a5a5a5;
        margin-top: -10px;
        line-height: -1em;
    }

    .under {
        background: linear-gradient(transparent 50%, #fff6c0 50%);
    }

    .bold {
        font-weight: bold;
    }

    .center {
        text-align: center;
    }

    .left {
        text-align: left;
    }

    .box1 {
        padding: 0.5em 1em;
        margin: 2em 0;
        border: solid 1px #dbdbdb;
    }

    .box3 {
        padding: 0.5em 2em;
        margin: 2em 0;
        color: #2c2c2f;
        background: #f8f8f8;
        /*背景色*/
    }

    .box3 p {
        color: #4d4d4d;
    }

    .box3 .title_sub {
        color: #333333;
    }

    .box19 {
        position: relative;
        padding: 0.25em 1em;
        width: 85%;
    }

    .box19:before,
    .box19:after {
        content: '';
        width: 30px;
        height: 40px;
        position: absolute;
        display: inline-block;
    }

    .box19:before {
        border-left: solid 2px #777777;
        border-top: solid 2px #777777;
        top: 0;
        left: 0;
    }

    .box19:after {
        border-right: solid 2px #777777;
        border-bottom: solid 2px #777777;
        bottom: 0;
        right: 0;
    }

    .box19 p {
        margin: 0;
        padding: 0;
    }

    .box_chui {
        padding: 0.5em 1em;
        margin: 2em 0;
        font-weight: bold;
        border: solid 3px #ff0000;
    }

    .box_chui p {
        margin: 0;
        padding: 0;
        color: #ff0000;
    }

.box_free {
        margin: 4em 0;
    }

    .btn-item-link {
        display: block;
        margin: 1em auto;
        padding: 10px;
        background: #4D4D4D;
        border-radius: 50px;

    }

    @media screen and (min-width: 768px) {
        .btn-item-link {
            width: 50%;

        }
    }

    .btn-item-link a {
        color: #FFF;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
    }

    ul.cp_list {
        padding: 0.5em;
        list-style-type: none;
        text-align: left;
    }

    ul.cp_list li {
        position: relative;
        padding-left: 25px;
        border-bottom: solid 1px #e5e5e5;
        margin-bottom: 0.5em;
        line-height: 2em;
    }

    ul.cp_list li:before {
        content: "";
        position: absolute;
        top: .1em;
        left: 0;
        -webkit-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
        transform: rotate(50deg);
        width: 8px;
        height: 18px;
        border-right: 1px solid #919191;
        border-bottom: 1px solid #919191;
    }


    .ul-align-center {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    a[href="#faq"]:link,
    a[href="#faq"]:visited {
        color: #4d4d4d;
    }

    a[href="#faq"]:hover {
        color: #9c9b9b;
    }

    a[href="#movie"]:link,
    a[href="#movie"]:visited {
        color: #4d4d4d;
    }

    a[href="#movie"]:hover {
        color: #9c9b9b;
    }

    .pc_hid{
    display: none;
}
.sp_hid{
    display: block;
}


/*スマートフォンで有効*/
@media screen and (max-width:768px) {
    .pc_hid{
        display: block;
    }
.sp_hid{
        display: none;
    }

}
</style>

<!-------------------------- ▼▼▼▼動画▼▼▼▼ ------------------------------------>
<div id="movie" class="iframe-wrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/oHVckz3AvbA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<style>
    .iframe-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        /* アスペクト比16:9の場合 */
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        margin-bottom: 2rem;
        /* YouTubeの下に余白をつける */
    }

    .iframe-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
<!------------------------------------ ▲▲▲▲動画▲▲▲▲ ------------------------------------>
    <!-------------------------- ▼▼▼▼タイトル▼▼▼▼ ------------------------------------>
    
    <center>
      <p class="center"> オフスキンケアの基本である、 <br>
        洗浄力の見直し。 <br>
        <br>
        石けん等よりも洗浄力を落としつつ、<br>
        すっきりとした洗い上がりを叶える<br>
        弱酸性の全身用洗浄料です。</p>
    </center>
    <div style="margin-top: 4rem;">
      <picture>
        <source srcset="/html/user_data/assets/ceralabo/img_item/k40a/img_cl_1.png" media="(min-width: 768px)">
        <source>
        <img  style="margin: 0 auto;" src="/html/user_data/assets/ceralabo/img_item/k40a/img_cl_1_sp.png" alt="成分イメージ画像"/></picture>
    </div>
    <!-------------------------- ▲▲▲▲タイトル▲▲▲▲ ------------------------------------>
    <div class="box_free">
      <h1 class="main_title">不使用成分 </h1>
      <picture>
        <source srcset="/html/user_data/assets/ceralabo/img_item/k40a/img_cl_2.png" media="(min-width: 768px)">
        <source>
        <img  style="margin: 0 auto;" src="/html/user_data/assets/ceralabo/img_item/k40a/img_cl_2_sp.png" alt="不使用成分"/> </picture>
      <div style="margin-top: 4rem;">
        <picture>
          <source srcset="/html/user_data/assets/ceralabo/img_item/k40a/img_cl_3.png" media="(min-width: 768px)">
          <source>
          <img src="/html/user_data/assets/ceralabo/img_item/k40a/img_cl_3_sp.png" alt="洗顔料のタイプから選びましょう"/></picture>
      </div>
      <div style="margin-top: 4rem;">
		  <picture>
          <source srcset="/html/user_data/assets/ceralabo/img_item/k40a/img_cl_4.png" media="(min-width: 768px)">
          <source>
          <img src="/html/user_data/assets/ceralabo/img_item/k40a/img_cl_4_sp.png" alt="肌にこんな変化を感じたら、スキンウォッシュを変えてみましょう"/></picture></div>
    </div>
    <div class="btn-item-link center"> <a href="https://cores-ec.site/ceralabo/user_data/topics31">スキンウォッシュの選び方を<br>もっと詳しく知りたい方はこちら</a></div>
    <div class="box_free">
      <h1 class="main_title center">クリアリーはこんな人におすすめ</h1>
      <ul class="cp_list ul-align-center left">
        <li>すっきりとした洗いあがりが好み</li>
        <li>石けんを使っている</li>
        <li>脂性肌でも使いやすい洗顔料を探している</li>
        <li>ニキビができやすい肌でも使える洗顔料を探している</li>
        <li>インデュースを使って、洗顔後の残り感が気になる</li>
        <li>脂性肌や皮脂トラブル肌質のメンズ</li>
      </ul>
    </div>
    <div class="box_free">
      <h1 class="main_title center" style="letter-spacing: -0.2rem">肌に必要な水分や油分を<br>
        守りながら洗える洗浄力</h1>
      <p class="center">すぐれた起泡性と低刺激性が特徴の<br>
        洗浄成分<br class="pc_hid">「スルホコハク酸ラウレス２Na*」を<br>
        主配合した弱酸性の全身用ソープ。<br>
        <br>
        インデュース・エクストラと比較すると<br>
        すっきりとした洗い上がりが特徴で<br>
        脂性肌・ニキビができやすい肌質の方や<br class="pc_hid">メンズにもおすすめです。 </p>
      <br>
      <img  style="margin: 0 auto;" src="/html/user_data/assets/ceralabo/img_item/k40a/wh_chart.png" alt="スキンウォッシュシリーズ洗浄力イメージ"/> </div>
    <div class="box_free">
      <h1 class="main_title center">使い方・使用手順</h1>
      <p class="center">必ず専用の泡ポンプボトルに入れ、<br class="pc_hid">中身が出るまで数回プッシュしてください。<br>
        ３プッシュ程度を手に取り、<br class="pc_hid">泡で顔を包み込むようにやさしく洗い、<br class="pc_hid">ぬるま湯で十分にすすいでください。<br>
        <br>
        泡タイプの全身用洗浄料の詰替えパックは、<br class="pc_hid">泡ポンプボトルに約2回分詰替えることができます。</p>
      <img  style="margin: 4rem auto 0;" src="/html/user_data/assets/ceralabo/img_item/k40a/img_wh.jpg" alt="イメージ画像"/> </div>
    <!--
<center>
<div class="btn-item-link" style="background: #fe0000;">
<a class="link-video" href="#movie" style="color: #fff;" data-smoothScroll>
動画で使い方を見る
</a>
</div>
</center>
-->
    
    <style>
    a.link-video::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 14px;
        background: url({{ app.config.user_data_urlpath }}/ceralabo/img/img_icon_video.png) no-repeat;
        background-size: contain;
        margin-right: 3px;
    }
</style>
    
    <!----------------------- 商品詳細ここまで ---------------------------->
    <div id="faq" style="margin-top:4em;">
      <center>
        <h2 class="title">よくある質問</h2>
      </center>
      <dl class="ceralabo_accordion" data-accordion>
        <dt><a href="#">スキンウォッシュの選び方を教えて下さい。 <i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> 詳しくは下記の記事で紹介しておりますので、ぜひご覧ください。<br>
          <p><a href="https://cores-ec.site/ceralabo/user_data/topics30">・セラヴェールスキンウォッシュシリーズのご紹介</a></p>
          <p><a href="https://cores-ec.site/ceralabo/user_data/topics31">・スキンウォッシュの選び方・使い分けのおすすめ</a></p> </dd>
        <dt><a href="#">詰替えの際、泡ポンプボトルは洗浄した方がいいですか？<i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> 使い始めは洗浄する必要はありません。２回目の詰替えの際は、しっかりと洗浄しよく乾かして、清潔な状態にして詰替えてください。 </dd>
        <dt><a href="#">スキンウォッシュリキッドタイプを水で薄めて泡ポンプボトルに詰め替えて使ってもいいですか？ <i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> ポンプの破損や雑菌が繁殖して腐敗の原因になる場合があるため、弊社として積極的に推奨はしておりません。<br>
          ただし、お客様の責任でご利用になることについての判断はお任せしております。 </dd>
        <dt><a href="#">他社の「石けんで落ちる化粧品」を使っていますが、スキンウォッシュで落とせますか？ <i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> 他社様の商品のため、落とせるとは断言できません。 セラヴェールプラチナムクレンジングオイルのご使用をおすすめいたします。 </dd>
        <dt><a href="#">泡ポンプボトルに詰替えた状態で浴室で保管してもいいですか？<i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> 基本的に浴室での保管は問題ありません。<br>
          泡ポンプボトルに水が入らないように注意し、極端に低温または高温になったり、直射日光に当たる環境での保管はお控えください。 </dd>
        <dt><a href="#">泡ポンプボトルはどれくらいの頻度で買い替えるのがいいですか？ <i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> 半年程度を目安に新しいポンプボトルに取り替えをお勧めしております。 </dd>
        <dt><a href="#">他社の泡ポンプボトルに詰替えてもいいですか？ <i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> 必ず、専用容器に詰替えてください。<br>
          専用容器を使うことで、キメ細かい理想的な泡をつくることができます。<br>
          また他容器に入れた場合、泡にならず詰まってポンプが押せなくなる可能性があります。 </dd>
      </dl>
    </div>
    
    <!-------------------------- ▼▼▼▼ブログリンク▼▼▼▼ ------------------------------------>
    <hr noshade="" align="left">
    <br>
    <style>
    .blog_link {
        line-height: 2;
    }

    .blog_title {
        font-size: 24px;
    }
</style>
    {# 公開までコメントアウト #}
    {# <p class="blog_title">■ かずのすけの解説 </p>
    <div class="blog_link"> <a href="https://ameblo.jp/rik01194/entry-12694449305.html"><u> <font color="#5c5c5c"> セラミド＆NMF同時配合、グリセリンフリー＆ノンオイル【セラキュア センシティブジェリー】開発中 </font> </u></a><br>
      <a href="https://ameblo.jp/rik01194/entry-12712263755.html"><u> <font color="#5c5c5c"> セラミド×NMF×グリセリンフリー保湿ジェル【セラキュアセンシティブジェリー】1月中旬発売決定！ </font> </u></a><br>
      <br>
    </div> #}
    <hr noshade="" align="left">
    <br>
    <br>
    <br>
    <!------------------------------------ ▲▲▲▲ブログリンク▲▲▲▲ ------------------------------------> 
    <!-------------------------- ▼▼▼▼バナー▼▼▼▼ ----------------------------------->
    <p class="ceralabo_btn_pageTop_wrap"> <a href="#" class="ceralabo_btn_pageTop" data-smoothScroll>Page Top <img src="/html/user_data/assets/ceralabo/img/icon_doubleArrow.svg" alt="矢印"></a> </p>
    <style>
.banner-wrapper {
margin-bottom: 2rem;
margin-top: 60px;
}
</style>
    <!------------------------------------ ▲▲▲▲バナー▲▲▲▲ ------------------------------------>