オフスキンケアにおいて重要な「洗浄力」に着目したセラヴェールシリーズをお試しできるセットです。
パウチタイプで、旅行などの持ち運びにも便利です。
セラヴェールシリーズは、プラチナムクレンジングオイルと、3種の洗浄料からなる洗浄シリーズで、本トライアルセットは全5種からお選びいただけます。

<a href="https://cores-ec.site/ceralabo/products/detail/1117" class="detail-link" style="color:#0000FF;">セラヴェール ミニセット（インデュース / エクストラ / クリアリー）</a>

ミニセット インデュース（5包）・ミニセット エクストラ（5包）・ミニセット クリアリー（5包）は、あわせ買い対象商品です。単品での購入はできないため、他の商品と同時にご注文ください。
　
これまで販売しておりましたセラヴェール ウォッシュケア トライアルセットは、販売終了となりました。ご了承ください。
（プラチナムクレンジングオイル 30mL・スキンウォッシュインデュース 30mL・スキンウォッシュエクストラ 30mL）

<font size="2">■</font>内容量：
《セラヴェール ウォッシュケア トライアルミニセット》
セラヴェール プラチナムクレンジングオイル　3mL×2包
セラヴェール スキンウォッシュ インデュース　4mL×2包
セラヴェール スキンウォッシュ エクストラ　4mL×2包
セラヴェール スキンウォッシュ クリアリー　4mL×2包

《セラヴェール ミニセット プラチナムクレンジングオイル》
セラヴェール プラチナムクレンジングオイル　3mL×5包

パウチは1包につき1回分です。

<font size="2">■</font>全成分：
<strong>《セラヴェール プラチナムクレンジングオイル》</strong><a href="https://cores-ec.site/ceralabo/products/detail/52" class="detail-link" style="color:#0000FF;">本品はこちら</a>
マカデミア種子油、トリイソステアリン酸PEG-20グリセリル、スクワラン、トリイソステアリン酸PEG-3グリセリル、コメヌカ油、アルガニアスピノサ核油、オリーブ果実油、アボカド油、トコフェロール

<strong>《セラヴェール スキン ウォッシュ インデュース》</strong><a href="https://cores-ec.site/ceralabo/products/detail/55" class="detail-link" style="color:#0000FF;">本品はこちら</a>
水、ラウレス-6カルボン酸Na、コカミドDEA、ラウロイルグルタミン酸TEA、コカミドプロピルベタイン、ラウラミドDEA、ペンチレングリコール、ラウリン酸BG、ヒアルロン酸Na、グリチルリチン酸2K、グリセリン、塩化Na、EDTA-2Na、クエン酸、エチルヘキシルグリセリン、フェノキシエタノール

<strong>《セラヴェール スキンウォッシュ エクストラ》</strong><a href="https://cores-ec.site/ceralabo/products/detail/56" class="detail-link" style="color:#0000FF;">本品はこちら</a>
水、ラウロイルグルタミン酸TEA、ラウロイルメチルアラニンNa、コカミドDEA、コカミドプロピルベタイン、ラウラミドDEA、ペンチレングリコール、ラウリン酸BG、ヒアルロン酸Na、グリチルリチン酸2K、グリセリン、塩化Na、EDTA-2Na、クエン酸、エチルヘキシルグリセリン、フェノキシエタノール

<strong>《セラヴェール スキンウォッシュ クリアリー》</strong><a href="https://cores-ec.site/ceralabo/products/detail/237" class="detail-link" style="color:#0000FF;">本品はこちら</a>
水、スルホコハク酸ラウレス2Na、コカミドDEA、ココイルグルタミン酸TEA、コカミドプロピルベタイン、ラウラミドDEA、ラウリン酸BG、ヒアルロン酸Na、グリチルリチン酸2K、塩化Na、EDTA-2Na、フェノキシエタノール、メチルパラベン

<font size="2">■</font>不使用成分：アルコール(エタノール) / サルフェート系界面活性剤 / 植物エキス / 精油 / 着色剤 / 香料 

<font size="2">■</font>送料：全国一律無料

<font size="2">■</font>こちらの商品はゆうパケット対象商品です。

<a href="#faq" class="detail-link"><font size="2">■</font>よくある質問はこちら</a>

<hr noshade="noshade" align="left" />

{# ここからフリーエリア #}

<style>
    p {
        line-height: 1.5em;
        font-color: #4D4D4D;
        padding: 0;
        margin: 0;
    }

   .main_title {
        font-size: 2em;
        text-align: center;
    }

    .main_title_sp {
        font-size: 1.6em;
        text-align: center;
    }

    .title_sub {
        font-size: 24px;
    }


    .title {
        position: relative;
        display: inline-block;
        margin-bottom: 2em;
        text-align: center;
        color: #4D4D4D;
    }

    .title:before {
        content: '';
        position: absolute;
        bottom: -15px;
        display: inline-block;
        width: 60px;
        height: 2.5px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #525263;
        border-radius: 2px;
    }

    .title_2 {
        padding: 0.3em 1.5em 0.3em 1.5em;
        /*文字周りの余白*/
        color: #fff;
        /*文字色*/
        background: #b3b3b3;
        /*背景色*/
        border-radius: 100vh;
    }

    .title_pnt {
        position: relative;
        display: inline-block;
        margin-bottom: 3em;
        text-align: center;
        color: #4D4D4D;
    }

    .title_pnt::before {
        content: '';
        position: absolute;
        bottom: -40px;
        display: inline-block;
        width: 60px;
        height: 1px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #525263;
        border-radius: 2px;
    }

    .img_pc {
        width: 70%;
        text-align: center;
    }

    .text_sub {
        font-size: 12px;
        color: #a5a5a5;
        margin-top: -10px;
        line-height: -1em;
    }

    .under {
        background: linear-gradient(transparent 50%, #fff6c0 50%);
    }

    .bold {
        font-weight: bold;
    }

    .center {
        text-align: center;
    }

    .left {
        text-align: left;
    }

    .box1 {
        padding: 0.5em 1em;
        margin: 2em 0;
        border: solid 1px #dbdbdb;
    }

    .box3 {
        padding: 0.5em 2em;
        margin: 2em 0;
        color: #2c2c2f;
        background: #f8f8f8;
        /*背景色*/
    }

    .box3 p {
        color: #4d4d4d;
    }

    .box3 .title_sub {
        color: #333333;
    }

    .box19 {
        position: relative;
        padding: 0.25em 1em;
        width: 85%;
    }

    .box19:before,
    .box19:after {
        content: '';
        width: 30px;
        height: 40px;
        position: absolute;
        display: inline-block;
    }

    .box19:before {
        border-left: solid 2px #777777;
        border-top: solid 2px #777777;
        top: 0;
        left: 0;
    }

    .box19:after {
        border-right: solid 2px #777777;
        border-bottom: solid 2px #777777;
        bottom: 0;
        right: 0;
    }

    .box19 p {
        margin: 0;
        padding: 0;
    }

    .box_chui {
        padding: 0.5em 1em;
        margin: 2em 0;
        font-weight: bold;
        border: solid 3px #ff0000;
    }

    .box_chui p {
        margin: 0;
        padding: 0;
        color: #ff0000;
    }

    .box_free {
        margin: 4em 0;
    }


    .index_pnt {
        width: 150px;
    }

    @media screen and (max-width: 767px) {
        .index_pnt {
            width: 120px;
        }
    }

    .box_pnt {
        position: relative;
        padding: 0.25em 1em;
        border: solid 1px #4D4D4D;
        padding: 30px;
    }

    .box_pnt h1 {
        font-size: 1.8em;
    }

    @media screen and (max-width: 767px) {
        #item_detail .freearea p {
            margin-bottom: 40px;
        }
    }

    .btn-item-link {
        display: block;
        margin: 1em auto;
        padding: 10px;
        background: #4D4D4D;
        border-radius: 50px;

    }

    @media screen and (min-width: 768px) {
        .btn-item-link {
            width: 50%;

        }
    }

    .btn-item-link a {
        color: #FFF;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
    }

    ul.cp_list {
        padding: 0.5em;
        list-style-type: none;
        text-align: left;
    }

    ul.cp_list li {
        position: relative;
        padding-left: 25px;
        border-bottom: solid 1px #e5e5e5;
        margin-bottom: 0.5em;
        line-height: 2em;
    }

    ul.cp_list li:before {
        content: "";
        position: absolute;
        top: .1em;
        left: 0;
        -webkit-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
        transform: rotate(50deg);
        width: 8px;
        height: 18px;
        border-right: 1px solid #919191;
        border-bottom: 1px solid #919191;
    }


    .ul-align-center {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .kaihatsu .ceralabo_accordion dt a::before {
        display: none;
    }

    .sample_button:hover {
        opacity: 0.6;
    }

    ceralabo_accordion dt a::before {
        display: none;
    }


    a[href="#faq"]:link,
    a[href="#faq"]:visited {
        color: #4d4d4d;
    }

    a[href="#faq"]:hover {
        color: #9c9b9b;
    }

    a[href="#movie"]:link,
    a[href="#movie"]:visited {
        color: #4d4d4d;
    }

    a[href="#movie"]:hover {
        color: #9c9b9b;
    }

/* 追加CSS */
	
	.img_pc50 {
        width: 50%;
        margin: auto;
    }
	
	@media screen and (max-width: 767px) { 
		.img_pc50 {
        width: 100%;
    }
		}
</style>
    <!-------------------------- ▼▼▼▼動画▼▼▼▼ ------------------------------------>
    
    <style>
    .iframe-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        /* アスペクト比16:9の場合 */
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        margin-bottom: 2rem;
        /* YouTubeの下に余白をつける */
    }

    .iframe-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
    <!------------------------------------ ▲▲▲▲動画▲▲▲▲ ------------------------------------> 
    <!-------------------------- ▼▼▼▼タイトル▼▼▼▼ ------------------------------------>
    
    <center>
      <p class="center"> オフスキンケアにおいて重要な「洗浄力」に着目した<br class="ceralabo_pc">
        セラヴェールシリーズをお試しできるセットです。 <br>
        <br>
        パウチタイプで、旅行などの持ち運びにも便利です。<br>
        <br>
        セラヴェールシリーズは、<br class="ceralabo_pc">
        1種のクレンジングオイルと3種の洗浄料からなる洗浄シリーズで、<br class="ceralabo_pc">
        全5セットからお選びいただけます。<br>
        <br>
        <a href="https://cores-ec.site/ceralabo/user_data/topics07">オフスキンケアの詳細はこちら</a> </p>
    </center>
    <div style="margin-top: 4rem;"> <img  style="margin: 0 auto;  width: 460px;" src="/html/user_data/assets/ceralabo/img_item/390/ceraveil_3set.jpg" alt=""/> </div>
    <!-------------------------- ▲▲▲▲タイトル▲▲▲▲ ------------------------------------>
    <div class="box_free">
      <h1 class="main_title">セラヴェール<br>
        プラチナムクレンジングオイル </h1>
        <div style="margin-top: 4rem;"  class="img_pc50"><img src="/html/user_data/assets/ceralabo/img_item/390/cleansing.png" alt=""/></div>
      <p class="center">3mL（1回分）</p>
      <br>
      <p class="center">美容オイル「マカデミア種子油*¹」を主成分として<br class="ceralabo_pc">
        贅沢に配合したクレンジングオイル。<br class="ceralabo_pc">
        厳選された９成分のみを配合したシンプル設計です。<br>
        <br>
        肌を柔らかく整え、<br class="ceralabo_pc">
        毛穴の黒ずみ・角栓ケア*²にもおすすめです。<br>
        <br>
        <span class="text_sub center"> *¹エモリエント成分<br>
        *²洗浄による</span> </p>
    </div>
    <div class="box_free">
      <h1 class="main_title center">セラヴェール<br>
        スキンウォッシュ</h1>
      <p class="center">肌本来の保湿成分をおとしすぎない設計の<br class="ceralabo_pc">
        洗顔・ボディ兼用ソープです。<br class="ceralabo_pc">
        「洗いすぎ」による乾燥を防ぎます。<br>
        <br>
        肌質やお好みに合わせて、<br class="ceralabo_pc">
        3種類の洗浄力からお選びいただけます。<br>
        <br>
        すべて弱酸性です。</p></div>
    <div class="box_free">
      <h1 class="main_title center">インデュース</h1>
      <div class="img_pc50"><img  style="margin: 0 auto;" src="/html/user_data/assets/ceralabo/img_item/390/induce.png" alt="インデュース"> </div>
      <p class="center">4mL（1回分）</p>
      <br>
      <p class="center">オフスキンケアが初めての方は<br class="ceralabo_pc">
        インデュースからがおすすめです。</p>
      <br>
      <p class="center">他にもこんな方におすすめ</p>
      <ul class="cp_list ul-align-center left">
        <li>うるおい感のある洗い上がりが好み</li>
        <li>乾燥・ごわつき・ざらつきが気になる</li>
        <li>季節や体調の変化等で肌質が変わりやすい</li>
      </ul>
    </div>
    <div class="box_free">
      <h1 class="main_title center">エクストラ</h1>
      <div class="img_pc50"><img  style="margin: 0 auto;" src="/html/user_data/assets/ceralabo/img_item/390/extra.png" alt="エクストラ"> </div>
      <p class="center">4mL（1回分）</p>
      <br>
      <p class="center">インデュースを使って乾燥を感じる方におすすめです。</p>
      <br>
      <p class="center">他にもこんな方におすすめ</p>
      <ul class="cp_list ul-align-center left">
        <li>しっとりな洗い上がりが好み</li>
        <li>アミノ酸系の洗浄料を探している</li>
        <li>冬場の厳しい乾燥が気になる時</li>
      </ul>
    </div>
    <div class="box_free">
      <h1 class="main_title center">クリアリー</h1>
     <div class="img_pc50"><img  style="margin: 0 auto;" src="/html/user_data/assets/ceralabo/img_item/390/clearly.png" alt="クリアリー"> </div>
      <p class="center">4mL（1回分）</p>
      <br>
      <p class="center">インデュースを使ってべたつきを感じる方におすすめです。</p>
      <br>
      <p class="center">他にもこんな方におすすめ</p>
      <ul class="cp_list ul-align-center left">
        <li>すっきりした洗い上がりが好み</li>
        <li>毛穴のざらつき・皮脂やテカリが気になる</li>
        <li>夏場の汗などでのべたつきが気になる時</li>
      </ul>
    </div>
    <div class="btn-item-link center"> <a href="https://cores-ec.site/ceralabo/user_data/topics31"> スキンウォッシュの選び方や使い分けの詳細はこちら </a> </div>
    <center style="margin-top:4em;">
      <div class="box_free">
        <h1 class="main_title center">選べる５種類のセット</h1>
<h2 class="box_pnt_text center">セラヴェールシリーズを一式お試ししたい方におすすめです。</h2>
        <div class="box1">
          <h2 style="margin-bottom: 2rem;">セラヴェール ウォッシュケア<br>
            トライアルミニセット</h2>
          <br>
          <p>《セット内容》<br>
            ・セラヴェール プラチナムクレンジングオイル　3mL×2包<br>
            ・セラヴェール スキンウォッシュ インデュース　4mL×2包<br>
            ・セラヴェール スキンウォッシュ エクストラ　4mL×2包<br>
            ・セラヴェール スキンウォッシュ クリアリー　4mL×2包</p>
           <div class="img_pc50"> <a href="https://cores-ec.site/ceralabo/products/detail/1116"><img  style="margin: 2rem auto;" src="/html/user_data/assets/ceralabo/img_item/390/CeraVeilWashCareTrialMiniSet.png" alt="セラヴェール ウォッシュケアトライアルミニセット"/></a></div>
        </div>
<h2 style="margin: 4rem 0;">セラヴェールシリーズをそれぞれ単品でお試しできるセットです。<br>
          旅行などの持ち運びにもおすすめです。</h2>
        <div class="box1">
          <h2 style="margin-bottom: 2rem;">セラヴェール ミニセット<br>
            プラチナムクレンジングオイル</h2>
          <p>《セット内容》<br>
            セラヴェール プラチナムクレンジングオイル　3mL×5包</p>
          <div class="img_pc50"><a href="https://cores-ec.site/ceralabo/products/detail/1116"><img  style="margin: 2rem auto;" src="/html/user_data/assets/ceralabo/img_item/390/CeraVeilMiniSet-PlatinumCleansingOil-.png" alt="セラヴェール プラチナムクレンジングオイル"/></a> </div></div>
        <div class="box1">
          <h2 style="margin-bottom: 2rem;">セラヴェール ミニセット<br>
            インデュース</h2>
          <p>《セット内容》<br>
            セラヴェール スキンウォッシュ インデュース　4mL×5包</p>
          <div class="img_pc50"> <a href="https://cores-ec.site/ceralabo/products/detail/1117"><img  style="margin: 2rem auto;" src="/html/user_data/assets/ceralabo/img_item/390/CeraVeilMiniSet-Induce-.png" alt="セラヴェール スキンウォッシュ インデュース"/></a></div></div>
        <div class="box1">
          <h2 style="margin-bottom: 2rem;">セラヴェール ミニセット<br>
            エクストラ</h2>
          <p>《セット内容》<br>
            セラヴェール スキンウォッシュ エクストラ　4mL×5包</p>
         <div class="img_pc50"><a href="https://cores-ec.site/ceralabo/products/detail/1117"><img  style="margin: 2rem auto;" src="/html/user_data/assets/ceralabo/img_item/390/CeraVeilMiniSet-Extra-.png" alt=" セラヴェール スキンウォッシュ エクストラ"/></a></div> </div>
        <div class="box1">
          <h2 style="margin-bottom: 2rem;">セラヴェール ミニセット<br>
            クリアリー</h2>
          <p>《セット内容》<br>
            セラヴェール スキンウォッシュ クリアリー　4mL×5包</p>
          <div class="img_pc50"><a href="https://cores-ec.site/ceralabo/products/detail/1117"><img  style="margin: 2rem auto;" src="/html/user_data/assets/ceralabo/img_item/390/CeraVeilMiniSet-Clearly-.png" alt="セラヴェール スキンウォッシュ クリアリー"/></a></div></div>
        <p>※スキンウォッシュのミニセット インデュース（5包）・ミニセット エクストラ（5包）・ミニセット クリアリー（5包）は、あわせ買い対象商品です。単品での購入はできないため、他の商品と同時にご注文ください。</p>
      </div>
    </center>
    <!------------------------------------ ▼▼▼リンク▼▼▼ ------------------------------------> 
    
    <!---------------------- pc ------------------------>
    <p class="center">個別の商品についてはこちら</p>
    <center>
      <div class="ceralabo_pc">
        <div class="topics_img_pc"> 
        <p style="margin:16px 0"><a href="https://cores-ec.site/ceralabo/products/detail/52"> <img src="/html/user_data/assets/ceralabo/img_item/390/miniset1.png" alt="セラヴェールプラチナムクレンジングオイル"> </a></p>
        <p style="margin:16px 0"><a href="https://cores-ec.site/ceralabo/products/detail/55"> <img src="/html/user_data/assets/ceralabo/img_item/390/miniset2.png" alt="インデュース"> </a></p> 
        <p style="margin:16px 0"><a href="https://cores-ec.site/ceralabo/products/detail/56"> <img src="/html/user_data/assets/ceralabo/img_item/390/miniset3.png" alt="エクストラ"> </a></p>
        <p style="margin:16px 0"><a href="https://cores-ec.site/ceralabo/products/detail/237"> <img src="/html/user_data/assets/ceralabo/img_item/390/miniset4.png" alt="クリアリー"> </a></p>
        </div>
      </div>
    </center>
    <!---------------------- pc ------------------------> 
    
    <!---------------------- sp ------------------------>
    <div class="ceralabo_pc_none">  
    <p style="margin:16px 0"><a href="https://cores-ec.site/ceralabo/products/detail/52"> <img src="/html/user_data/assets/ceralabo/img_item/390/miniset1_sp.png" alt="セラヴェールプラチナムクレンジングオイル"> </a></p>
    <p style="margin:16px 0"><a href="https://cores-ec.site/ceralabo/products/detail/55"> <img src="/html/user_data/assets/ceralabo/img_item/390/miniset2_sp.png" alt="インデュース"></a></p> 
    <p style="margin:16px 0"><a href="https://cores-ec.site/ceralabo/products/detail/56"> <img src="/html/user_data/assets/ceralabo/img_item/390/miniset3_sp.png" alt="エクストラ"> </a></p>
    <p style="margin:16px 0"><a href="https://cores-ec.site/ceralabo/products/detail/237"> <img src="/html/user_data/assets/ceralabo/img_item/390/miniset4_sp.png" alt="クリアリー"> </a></p>
     </div>
    <!---------------------- sp ------------------------>
    <style>

.topics_title{
  text-align: justfy;
 margin-bottom: 10px;
 font-size: 22px;
}

.topics_img_pc{
 width: 45%;
 text-align: center;
}

.topics_img_pc_2{
 width: 60%;
 text-align: center;
}

.topics_img_item_pc{
 width: 50%;
 text-align: center;
}

.topics_text{
 text-align: justfy;
  line-height: 1.8;
}

.topics_text_sub{
 text-align: justfy;
 color: #a5a5a5;
 line-height: 1.8;
}

.topics_text_item{
 text-align: center;
 color: #a5a5a5;
}
</style>
    <!------------------------------------ ▲▲▲リンク▲▲▲ ------------------------------------> 
    <br>
    <!--
<center>
<div class="btn-item-link" style="background: #fe0000;">
<a class="link-video" href="#movie" style="color: #fff;" data-smoothScroll>
動画で使い方を見る
</a>
</div>
</center>
-->
    
    <style>
    a.link-video::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 14px;
        background: url({{ app.config.user_data_urlpath }}/ceralabo/img/img_icon_video.png) no-repeat;
        background-size: contain;
        margin-right: 3px;
    }
</style>
    
    <!----------------------- 商品詳細ここまで ---------------------------->
    <div id="faq" style="margin-top:4em;">
      <center>
        <h2 class="title">よくある質問</h2>
      </center>
      <dl class="ceralabo_accordion" data-accordion>
        <dt><a href="#">パウチの量が1回で使い切れなかったので、次の日に使っていいですか？ <i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> パウチは1回分での使い切りですので、開封後の保管はお控えください。 </dd>
        <dt><a href="#">公式取扱店舗で取り扱っていますか？ <i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> 基本的にセラヴェール ウォッシュケア トライアルミニセットのみ取り扱っております。 </dd>
        <dt><a href="#">お試し1回で効果は期待できますか？ <i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> こちらの商品は、あくまでも使用感をお試しいただくためのセットですので、効果実感ではなく、肌に合うのかや使い心地をお試しください。 </dd>
      </dl>
    </div> 
    <!-------------------------- ▼▼▼▼バナー▼▼▼▼ ----------------------------------->
    <p class="ceralabo_btn_pageTop_wrap"> <a href="#" class="ceralabo_btn_pageTop" data-smoothScroll>Page Top <img src="/html/user_data/assets/ceralabo/img/icon_doubleArrow.svg" alt="矢印"></a> </p>
    <style>
.banner-wrapper {
margin-bottom: 2rem;
margin-top: 60px;
}
</style>
    <!------------------------------------ ▲▲▲▲バナー▲▲▲▲ ------------------------------------>