<font color="#FF0000">【重要】「⑤エクストラセット（スキンウォッシュ エクストラ）」は、2024年6月4日(火)12時に販売終了いたしました。
※⑤エクストラセット以外の選べるトライアルセットは、引き続きご購入いただけます。</font>
<a href="#faq">詳しくはこちら</a>

オフスキンケアを体感できるトライアルセット。
あなたの肌に合ったセットをお選びいただけます。
自分にはどれが合うのか？迷ったら、LINEチェックもお試しください。

<a href="https://lin.ee/ZSe1V4f"><font size="2">■</font>LINEチェックはこちら</a>

■商品名：セララボ 選べるトライアルセット
エッセンスセット（ エッセンス）
セラシエルジェルセット（レッドプロテクトジェル）
スキンクリームセット（ スキンクリーム）
レッドモイストセット（レッドモイストクリーム）
センシティブセット（ センシティブローション＋ センシティブジェリー）
美容液セット（ エッセンス＋レッドプロテクトジェル）
エモリエントセット（ エッセンス＋ スキンクリーム）
モイスチャーセット（ エッセンス＋レッドモイストクリーム）
セラシエルセット（レッドプロテクトジェル＋レッドモイストクリーム）

<font size="2">■</font>内容量：約10日分

<font size="2">■</font>不使用成分：香料 / 精油 / 鉱油 / タール色素 / エタノール / 植物エキス

<font size="2">■</font>送料：全国一律無料

<a href="#faq"><font size="2">■</font>良くある質問はこちら⬇</a>

<a href="#movie"><font size="2">■</font>解説動画はこちら⬇</a>

※選べるトライアルセットのご購入には、会員登録が必須となります。
※お一人様3回までの購入制限がございますので、ご了承ください。
※店頭での取扱はございません。

<hr noshade="noshade" align="left" />

{# ここからフリーエリア #}
<style>
    p, dd {
        line-height: 2em;
        font-color: #4D4D4D;
        padding: 0;
        margin: 0;
    }
    .main_title {
        font-size: 1.8em;
        text-align: center;
    }
    @media screen and (max-width: 767px) {
        .main_title {
            font-size: 1.5em;
            text-align: center;
        }
    }

    .sub_title {
        font-size: 1.5em;
        text-align: center;
    }
    @media screen and (max-width: 767px) {
        .sub_title {
            font-size: 1.3em;
            text-align: center;
        }
    }
    .rec_title {
        font-size: 1.2em;
        text-align: center;
    }
    .title_sub {
        font-size: 24px;
    }
    .title {
        position: relative;
        display: inline-block;
        margin-bottom: 2em;
        text-align: center;
        color: #4D4D4D;
    }
    .title:before {
        content: '';
        position: absolute;
        bottom: -15px;
        display: inline-block;
        width: 60px;
        height: 2.5px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #525263;
        border-radius: 2px;
    }
    .title_2 {
        padding: 0.3em 1.5em 0.3em 1.5em;/*文字周りの余白*/
        color: #fff;/*文字色*/
        background: #b3b3b3;/*背景色*/
        border-radius: 100vh;
    }
    .img_pc {
        width: 70%;
        text-align: center;
    }
    .text_sub {
        font-size: 12px;
        color: #a5a5a5;
        margin-top: -10px;
        line-height: -1em;
    }
    .under {
        background: linear-gradient(transparent 50%, #fff6c0 50%);
    }
    .bold {
        font-weight: bold;
    }
    .center {
        text-align: center;
    }
    .left {
        text-align: left;
    }
    .box1 {
        padding: 0.5em 1em;
        margin: 2em 0;
        border: solid 1px #dbdbdb;
    }
    .box3 {
        padding: 0.5em 2em;
        margin: 2em 0;
        color: #2c2c2f;
        background: #f8f8f8;/*背景色*/
    }
    .box3 p {
        color: #4d4d4d;
    }
    .box3 .title_sub {
        color: #333333;
    }
    .box19 {
        position: relative;
        padding: 1em 1em;
        width: 85%;
    }
    .box19:before, .box19:after {
        content: '';
        width: 30px;
        height: 40px;
        position: absolute;
        display: inline-block;
    }
    .box19:before {
        border-left: solid 2px #777777;
        border-top: solid 2px #777777;
        top: 0;
        left: 0;
    }
    .box19:after {
        border-right: solid 2px #777777;
        border-bottom: solid 2px #777777;
        bottom: 0;
        right: 0;
    }
    .box19 p {
        margin: 0;
        padding: 0;
    }

    @media screen and (max-width: 767px) {
        .box19 {
            position: relative;
            padding: 1em 1em;
            width: 100%;
        }
    }
    .box_pnt {
        position: relative;
        padding: 0.25em 1em;
        padding: 30px;
        padding-bottom: 100px;
    }
    ul.cp_list {
        padding: 0.5em;
        list-style-type: none;
        text-align: left;
    }
    ul.cp_list li {
        position: relative;
        padding-left: 25px;
        border-bottom: solid 1px #e5e5e5;
        margin-bottom: 0.5em;
        line-height: 2em;
    }
    ul.cp_list li:before {
        content: "";
        position: absolute;
        top: .1em;
        left: 0;
        -webkit-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
        transform: rotate(50deg);
        width: 8px;
        height: 18px;
        border-right: 1px solid #919191;
        border-bottom: 1px solid #919191;
    }
    .ul-align-center {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .kaihatsu .ceralabo_accordion dt a::before {
        display: none;
    }
    .sample_button:hover {
        opacity: 0.6;
    }
    a[href="#faq"]:link, a[href="#faq"]:visited {
        color: #4d4d4d;
    }
    a[href="#faq"]:hover {
        color: #9c9b9b;
    }
    #item_detail .freearea p {
        margin-bottom: 40px;
    }

    a[href="#movie"]:link,
    a[href="#movie"]:visited {
        color: #4d4d4d;
    }

    a[href="#movie"]:hover {
        color: #9c9b9b;
    }

</style>
<div id="faq" style="margin-top:4em;">
    <!-------------------------- ▼▼▼▼FAQ▼▼▼▼ ------------------------------------>
    <dl class="ceralabo_accordion" data-accordion>
      <dt><a href="#">※エクストラセット以外の選べるトライアルセットは、引き続きご購入いただけます。<br>
【重要なお知らせ】選べるトライアルセット エクストラセット 販売終了に関するご案内
<i class="ceralabo_accordion_icon"></i></a></dt>
      <dd>平素よりセララボをご利用いただきまして、ありがとうございます。<br><br>
この度、長らくご愛顧頂いておりました「エクストラセット（選べるトライアルセット）」は、出庫期限及び代替新製品との切り替えのため2024年6月4日(火)12時に販売を終了いたしました。<br><br>
なお、本製品の代替新製品は現在準備を進めております。<br>
一ヶ月以内には新報をお届けできる見立てでございますので今しばらくお待ちくださいませ。<br><br>
皆様にはご不便のことと存じますが、新製品発売までの一時的なものでございますので、何卒ご了承くださいませ。<br>
今後ともセララボをご愛顧いただけますよう宜しくお願いいたします。<br><br>
</dd>
</dl>
</div>
<!-------------------------- ▼▼▼▼動画▼▼▼▼ ------------------------------------>

<div id="movie" class="iframe-wrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/BvSGE8H0Xc8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


</div>

<style>
    .iframe-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        /* アスペクト比16:9の場合 */
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        margin-bottom: 2rem;
        /* YouTubeの下に余白をつける */
    }

    .iframe-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

<!------------------------------------ ▲▲▲▲動画▲▲▲▲ ------------------------------------>

<!-------------------------- ▼▼▼▼コンテンツ▼▼▼▼ ------------------------------------>
<center>
    <h1 class="main_title"> 肌トラブルの原因は
        洗いすぎ？<br>
        肌本来の保湿機能を<br class="ceralabo_pc_none">
        活かした新発想の
        スキンケア </h1>
    <br>
    <p> 肌荒れ・乾燥・ニキビ・・・<br>
        人によって抱えている肌悩みはさまざま。<br>
        CeraLaboでは肌トラブルの根本原因は、ほとんどの場合「洗いすぎ」にあると考えています。<br>
        そこに着目して、生まれたのが<strong>「オフスキンケア」</strong>。<br>
        洗浄力を適切なレベルに整え、「肌本来の油分・水分を守る」ことを大切にしています。<br>
        そうすることで、少しずつスキンケアに頼ることのない、生き生きとしたすこやかな肌を育んでいきます。<br>
    </p>
</center>
<!-------------------------- ▲▲▲▲コンテンツ▲▲▲▲ ------------------------------------> 

<br>

<!------------------------------------ ▼▼▼ステップ▼▼▼ ------------------------------------>
<center>
    <div  class="ceralabo_pc"> <img src="/html/user_data/assets/ceralabo/img_item/kc2a/kc2a_step_pc2.png"> </div>
    <div class="ceralabo_pc_none"> <img src="/html/user_data/assets/ceralabo/img_item/kc2a/kc2a_step_sp.png"> </div>
</center>
<!------------------------------------ ▲▲▲ステップ▲▲▲ ------------------------------------> 

<br>
<br>
<br>
<br>
<!-------------------------- ▼▼▼▼コンテンツ▼▼▼▼ ------------------------------------>
<center>
    <h1 class="main_title"> 美容化学者の肌悩みから生まれた<br>
        「オフスキンケア」を体感できる<br>
        選べるトライアルセット<br>
    </h1>
    <br>
    <p> オフスキンケア専用アイテムの基本3点セット（セラヴェール プラチナムクレンジングオイル / セラヴェール スキンウォッシュ インデュース / セラキュア ローション）をベースに、ご自身に合った追加アイテムを9種類の組み合わせから選べるトライアルセットです。<br>
    </p>
</center>
<!-------------------------- ▲▲▲▲コンテンツ▲▲▲▲ ------------------------------------> 

<br>

<!-------------------------- ▼▼▼▼エッセンスセット▼▼▼▼ ------------------------------------>
<center>
    <div  class="ceralabo_pc" style="width: 70%;"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_01.jpg"> </div>
    <div class="ceralabo_pc_none"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_01.jpg"> </div>
</center><!-------------------------- ▲▲▲▲コンテンツ▲▲▲▲ ------------------------------------>

<br>
<br>


<center>
    <h1 class="main_title">
        <font size="6">基本の３ステップ</font>
    </h1>
    <p>
        <font size="5">毎日のお手入れに</font>
    </p>
</center>

<!-------------------------- ▼▼▼▼クレンジング▼▼▼▼ ------------------------------------>
<center>
    <div  class="ceralabo_pc">
        <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_pc1f.png">
    </div>
    <div class="ceralabo_pc_none">
        <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_sp1f.png">
    </div>

</center>
<!-------------------------- ▲▲▲▲クレンジング▲▲▲▲ ------------------------------------>

<!-------------------------- ▼▼▼▼洗顔▼▼▼▼ ------------------------------------>

<center>
    <div  class="ceralabo_pc">
        <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_pc2f.png">
    </div>
    <div class="ceralabo_pc_none">
        <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_sp2f.png">
    </div>

</center>
<!-------------------------- ▲▲▲▲洗顔▲▲▲▲ ------------------------------------>
<!-------------------------- ▼▼▼▼化粧水▼▼▼▼ ------------------------------------>
<center>



    <div  class="ceralabo_pc">
        <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_pc3f.png">
    </div>
    <div class="ceralabo_pc_none">
        <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_sp3f.png">
    </div>



</center>
<!-------------------------- ▲▲▲▲化粧水▲▲▲▲ ------------------------------------>

<!-------------------------- ▲▲▲▲エッセンスセット▲▲▲▲ ------------------------------------> 


<br>
<br>
<br>
<br>
<!-------------------------- ▼▼▼▼コンテンツ▼▼▼▼ ------------------------------------>
<center>
    <h1 class="main_title"> 肌質に合わせて9種類のセットをご用意 </h1>
    <br>
    <p> 肌質に合ったアイテム選びの参考に！ </p>
    <br>
    <!------------------------------------ ▼▼▼リンク▼▼▼ ------------------------------------> 

    <!---------------------- pc ------------------------>
    <center>
        <div class="ceralabo_pc" style="width: 450px;"> <a href="https://lin.ee/ZSe1V4f"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_13.jpg"> </a> </div>
    </center>
    <!---------------------- pc ------------------------> 
    <!---------------------- sp ------------------------>
    <div class="ceralabo_pc_none" style="width: 90%;"> <a href="https://lin.ee/ZSe1V4f"><img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_13.jpg"> </a> </div>
    <!---------------------- sp ------------------------> 
    <!------------------------------------ ▲▲▲リンク▲▲▲ ------------------------------------>
</center>
<!-------------------------- ▲▲▲▲コンテンツ▲▲▲▲ ------------------------------------> 

<br>
<br>
<br>
<br>

<div class="kaihatsu" style="text-align:center;">
    <dl class="ceralabo_accordion" data-accordion>
        <dt><a href="#">
            <div  style="font-size: 16px;">エッセンスセット</div>
            <i class="ceralabo_accordion_icon"></i></a></dt>
        <dd>

            <!-------------------------- ▼▼▼▼コンテンツ▼▼▼▼ ------------------------------------>
            <div class="box_pnt">
                <center>
                    <h2 class="sub_title">エッセンスセット<br>迷ったらまずこれ！</h2>
                    <p> 〈基本3点セット〉<br>
                        セラヴェール プラチナムクレンジングオイル　30mL<br>
                        セラヴェール スキンウォッシュ インデュース 　30mL<br>
                        セラキュア ローション　20mL<br>
                        ＋<br>
                        セラキュアエッセンス　5ml<br>
                    </p>
                </center>

                <!-------------------------- ▼▼▼▼エッセンスセット▼▼▼▼ ------------------------------------>
                <center>
                    <div  class="ceralabo_pc" style="width: 70%;"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_02.jpg"> </div>
                    <div class="ceralabo_pc_none"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_02.jpg"> </div>
                </center>
                <!-------------------------- ▲▲▲▲エッセンスセット▲▲▲▲ ------------------------------------> 
                <br>
                <br>
                <!-------------------------- ▼▼▼▼おすすめ▼▼▼▼ ------------------------------------>
                <center>
                    <div class="box19">
                        <h3 class="rec_title title center">こんな人に<br class="ceralabo_pc_none">
                            おすすめ</h3>
                        <p class="box1_text left" style="font-size: 24px;">
                        <ul class="cp_list ul-align-center left">
                            <li>肌の乾燥が気になる</li>
                            <li>乳液やクリームを使わずにしっかり保湿したい</li>
                            <li>セラミドをたっぷり*補給したい</li>
                        </ul>
                        </p>
                    </div>
                <font size="1"> <font color="#a9a9a9">*当社比</font> </font>
                </center>
            <!-------------------------- ▲▲▲▲おすすめ▲▲▲▲ ------------------------------------> 
        </div>

    <!-------------------------- ▲▲▲▲コンテンツ▲▲▲▲ ------------------------------------> 
    </dd>

<dt><a href="#">
    <div  style="font-size: 16px;">セラシエルジェルセット</div>
    <i class="ceralabo_accordion_icon"></i></a></dt>
<dd>
    <!-------------------------- ▼▼▼▼コンテンツ▼▼▼▼ ------------------------------------>
    <div class="box_pnt">
        <center>
            <h2 class="sub_title">セラシエルジェルセット<br>さっぱり好きの欲張りさんへ！</h2>
            <p> 〈基本3点セット〉<br>
                セラヴェール プラチナムクレンジングオイル　30mL<br>
                セラヴェール スキンウォッシュ インデュース 　30mL<br>
                セラキュア ローション　20mL<br>
                ＋<br>
                セラシエル レッドプロテクトジェル　10ml<br>
            </p>
        </center>

        <!-------------------------- ▼▼▼▼エッセンスセット▼▼▼▼ ------------------------------------>
        <center>
            <div  class="ceralabo_pc" style="width: 70%;"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_03.jpg"> </div>
            <div class="ceralabo_pc_none"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_03.jpg"> </div>
        </center>
        <!-------------------------- ▲▲▲▲エッセンスセット▲▲▲▲ ------------------------------------> 
        <br>
        <br>
        <!-------------------------- ▼▼▼▼おすすめ▼▼▼▼ ------------------------------------>
        <center>
            <div class="box19">
                <h3 class="rec_title title center">こんな人に<br class="ceralabo_pc_none">
                    おすすめ</h3>
                <p class="box1_text left" style="font-size: 24px;">
                <ul class="cp_list ul-align-center left">
                    <li>オフスキンケアと一緒にエイジングケア*も取り入れたい</li>
                    <li>セラミドだけでなく美容成分も補給したい</li>
                    <li>乳液やクリームを使わずにさっぱり保湿したい</li>
                </ul>
                </p>
            </div>
        <font size="1"> <font color="#a9a9a9">*年齢に伴う保湿お手入れ</font> </font>
        </center>
    <!-------------------------- ▲▲▲▲おすすめ▲▲▲▲ ------------------------------------> 
</div>

<!-------------------------- ▲▲▲▲コンテンツ▲▲▲▲ ------------------------------------> 
</dd>

<dt><a href="#">
    <div  style="font-size: 16px;">スキンクリームセット</div>
    <i class="ceralabo_accordion_icon"></i></a></dt>
<dd>
    <!-------------------------- ▼▼▼▼コンテンツ▼▼▼▼ ------------------------------------>
    <div class="box_pnt">
        <center>
            <h2 class="sub_title">スキンクリームセット<br>
                しっとり好きの保湿重要派さんへ！ </h2>
            <p> 〈基本3点セット〉<br>
                セラヴェール プラチナムクレンジングオイル　30mL<br>
                セラヴェール スキンウォッシュ インデュース 　30mL<br>
                セラキュア ローション　20mL<br>
                ＋<br>
                セラキュア スキンクリーム　10ml<br>
            </p>
        </center>

        <!-------------------------- ▼▼▼▼エッセンスセット▼▼▼▼ ------------------------------------>
        <center>
            <div  class="ceralabo_pc" style="width: 70%;"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_04.jpg"> </div>
            <div class="ceralabo_pc_none"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_04.jpg"> </div>
        </center>
        <!-------------------------- ▲▲▲▲エッセンスセット▲▲▲▲ ------------------------------------> 
        <br>
        <br>
        <!-------------------------- ▼▼▼▼おすすめ▼▼▼▼ ------------------------------------>
        <center>
            <div class="box19">
                <h3 class="rec_title title center">こんな人に<br class="ceralabo_pc_none">
                    おすすめ</h3>
                <p class="box1_text left" style="font-size: 24px;">
                <ul class="cp_list ul-align-center left">
                    <li>肌のカサつきが気になる</li>
                    <li>しっとり柔らか肌にしたい</li>
                    <li>べたつき・ぬるつきが苦手</li>
                </ul>
                </p>
            </div>
        </center>
    <!-------------------------- ▲▲▲▲おすすめ▲▲▲▲ ------------------------------------> 
</div>

<!-------------------------- ▲▲▲▲コンテンツ▲▲▲▲ ------------------------------------> 
</dd>

<dt><a href="#">
    <div  style="font-size: 16px;">レッドモイストセット</div>
    <i class="ceralabo_accordion_icon"></i></a></dt>
<dd>
    <!-------------------------- ▼▼▼▼コンテンツ▼▼▼▼ ------------------------------------>
    <div class="box_pnt">
        <center>
            <h2 class="sub_title">レッドモイストセット<br>
                乾燥しがちな欲張りさんへ！ </h2>
            <p> 〈基本3点セット〉<br>
                セラヴェール プラチナムクレンジングオイル　30mL<br>
                セラヴェール スキンウォッシュ インデュース 　30mL<br>
                セラキュア ローション　20mL<br>
                ＋<br>
                セラシエル レッドモイストクリーム　5g<br>
            </p>
        </center>

        <!-------------------------- ▼▼▼▼エッセンスセット▼▼▼▼ ------------------------------------>
        <center>
            <div  class="ceralabo_pc" style="width: 70%;"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_05.jpg"> </div>
            <div class="ceralabo_pc_none"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_05.jpg"> </div>
        </center>
        <!-------------------------- ▲▲▲▲エッセンスセット▲▲▲▲ ------------------------------------> 
        <br>
        <br>
        <!-------------------------- ▼▼▼▼おすすめ▼▼▼▼ ------------------------------------>
        <center>
            <div class="box19">
                <h3 class="rec_title title center">こんな人に<br class="ceralabo_pc_none">
                    おすすめ</h3>
                <p class="box1_text left" style="font-size: 24px;">
                <ul class="cp_list ul-align-center left">
                    <li>オフスキンケアと一緒にエイジングケア*も取り入れたい</li>
                    <li>セラミドだけでなく美容成分も補給したい</li>
                    <li>べたつかずにしっとり保湿したい</li>
                </ul>
                </p>
            </div>
        <font size="1"> <font color="#a9a9a9">*年齢に伴う保湿お手入れ</font> </font>
        </center>
    <!-------------------------- ▲▲▲▲おすすめ▲▲▲▲ ------------------------------------> 
</div>

<!-------------------------- ▲▲▲▲コンテンツ▲▲▲▲ ------------------------------------> 

<dt><a href="#">
    <div  style="font-size: 16px;">センシティブセット</div>
    <i class="ceralabo_accordion_icon"></i></a></dt>
<dd>
    <!-------------------------- ▼▼▼▼コンテンツ▼▼▼▼ ------------------------------------>
    <div class="box_pnt">
        <center>
            <h2 class="sub_title">センシティブセット<br>
                よりシンプルケアのさっぱり好きさんへ！</h2>
            <p> 〈基本3点セット〉<br>
                セラヴェール プラチナムクレンジングオイル　30mL<br>
                セラヴェール スキンウォッシュ インデュース 　30mL<br>
                セラキュア ローション　20mL<br>
                ＋<br>
                セラキュア センシティブローション　20mL<br>
                セラキュア センシティブジェリー　10mL<br>
            </p>
        </center>

        <!-------------------------- ▼▼▼▼エッセンスセット▼▼▼▼ ------------------------------------>
        <center>
            <div  class="ceralabo_pc" style="width: 70%;"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_07.jpg"> </div>
            <div class="ceralabo_pc_none"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_07.jpg"> </div>
        </center>
        <!-------------------------- ▲▲▲▲エッセンスセット▲▲▲▲ ------------------------------------> 
        <br>
        <br>
        <!-------------------------- ▼▼▼▼おすすめ▼▼▼▼ ------------------------------------>
        <center>
            <div class="box19">
                <h3 class="rec_title title center">こんな人に<br class="ceralabo_pc_none">
                    おすすめ</h3>
                <p class="box1_text left" style="font-size: 24px;">
                <ul class="cp_list ul-align-center left">
                    <li>さっぱりとした使用感が好き</li>
                    <li>肌のベタつきが気になる</li>
                    <li>毛穴の開きが気になる</li>
                    <li>肌の水分不足が気になる</li>
                    <li>乳液やクリームが苦手だけどしっかり保湿したい</li>
                    <li>グリセリンフリーの保湿アイテムを探している</li>
                </ul>
                </p>
            </div>
        </center>
    <!-------------------------- ▲▲▲▲おすすめ▲▲▲▲ ------------------------------------> 
</div>

<!-------------------------- ▲▲▲▲コンテンツ▲▲▲▲ ------------------------------------> 
</dd>

<dt><a href="#">
    <div  style="font-size: 16px;">美容液セット</div>
    <i class="ceralabo_accordion_icon"></i></a></dt>
<dd>
    <!-------------------------- ▼▼▼▼コンテンツ▼▼▼▼ ------------------------------------>
    <div class="box_pnt">
        <center>
            <h2 class="sub_title">美容液セット<br>
                セララボ王道の組み合わせ！セラミド補給×美容成分</h2>
            <p> 〈基本3点セット〉<br>
                セラヴェール プラチナムクレンジングオイル　30mL<br>
                セラヴェール スキンウォッシュ インデュース 　30mL<br>
                セラキュア ローション　20mL<br>
                ＋<br>
                セラキュア エッセンス　5mL<br>
                セラシエル レッドプロテクトジェル　10mL<br>
            </p>
        </center>

        <!-------------------------- ▼▼▼▼エッセンスセット▼▼▼▼ ------------------------------------>
        <center>
            <div  class="ceralabo_pc" style="width: 70%;"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_08.jpg"> </div>
            <div class="ceralabo_pc_none"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_08.jpg"> </div>
        </center>
        <!-------------------------- ▲▲▲▲エッセンスセット▲▲▲▲ ------------------------------------> 
        <br>
        <br>
        <!-------------------------- ▼▼▼▼おすすめ▼▼▼▼ ------------------------------------>
        <center>
            <div class="box19">
                <h3 class="rec_title title center">こんな人に<br class="ceralabo_pc_none">
                    おすすめ</h3>
                <p class="box1_text left" style="font-size: 24px;">
                <ul class="cp_list ul-align-center left">
                    <li>肌の乾燥が気になる</li>
                    <li>乳液やクリームを使わずにしっかり保湿したい</li>
                    <li>セラミドをたっぷり*補給したい</li>
                    <li>セラミドだけでなく美容成分も補給したい</li>
                </ul>
                </p>
            </div>
        <font size="1"> <font color="#a9a9a9">*セラキュアエッセンスのこと（当社比）</font> </font> <font size="1"> <font color="#a9a9a9">*<sup>2</sup> 年齢に伴う保湿お手入れ</font> </font>
        </center>
    <!-------------------------- ▲▲▲▲おすすめ▲▲▲▲ ------------------------------------> 
</div>

<!-------------------------- ▲▲▲▲コンテンツ▲▲▲▲ ------------------------------------> 
</dd>

<dt><a href="#">
    <div  style="font-size: 16px;">エモリエントセット</div>
    <i class="ceralabo_accordion_icon"></i></a></dt>
<dd>
    <!-------------------------- ▼▼▼▼コンテンツ▼▼▼▼ ------------------------------------>
    <div class="box_pnt">
        <center>
            <h2 class="sub_title">エモリエントセット<br>
                セラミド補給×しっとり保湿</h2>
            <p> 〈基本3点セット〉<br>
                セラヴェール プラチナムクレンジングオイル　30mL<br>
                セラヴェール スキンウォッシュ インデュース 　30mL<br>
                セラキュア ローション　20mL<br>
                ＋<br>
                セラキュア エッセンス　5mL<br>
                セラキュア スキンクリーム　10mL<br>
            </p>
        </center>

        <!-------------------------- ▼▼▼▼エッセンスセット▼▼▼▼ ------------------------------------>
        <center>
            <div  class="ceralabo_pc" style="width: 70%;"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_09.jpg"> </div>
            <div class="ceralabo_pc_none"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_09.jpg"> </div>
        </center>
        <!-------------------------- ▲▲▲▲エッセンスセット▲▲▲▲ ------------------------------------> 
        <br>
        <br>
        <!-------------------------- ▼▼▼▼おすすめ▼▼▼▼ ------------------------------------>
        <center>
            <div class="box19">
                <h3 class="rec_title title center">こんな人に<br class="ceralabo_pc_none">
                    おすすめ</h3>
                <p class="box1_text left" style="font-size: 24px;">
                <ul class="cp_list ul-align-center left">
                    <li>肌のカサつきが気になる</li>
                    <li>しっとり柔らか肌にしたい</li>
                    <li>セラミドをたっぷり*補給したい</li>
                </ul>
                </p>
            </div>
        <font size="1"> <font color="#a9a9a9">*セラキュアエッセンスのこと（当社比）</font> </font>
        </center>
    <!-------------------------- ▲▲▲▲おすすめ▲▲▲▲ ------------------------------------> 
</div>

<!-------------------------- ▲▲▲▲コンテンツ▲▲▲▲ ------------------------------------> 
</dd>

<dt><a href="#">
    <div  style="font-size: 16px;">モイスチャーセット</div>
    <i class="ceralabo_accordion_icon"></i></a></dt>
<dd>
    <!-------------------------- ▼▼▼▼コンテンツ▼▼▼▼ ------------------------------------>
    <div class="box_pnt">
        <center>
            <h2 class="sub_title">モイスチャーセット<br>
                セラミド補給×しっとり美容成分補給</h2>
            <p> 〈基本3点セット〉<br>
                セラヴェール プラチナムクレンジングオイル　30mL<br>
                セラヴェール スキンウォッシュ インデュース 　30mL<br>
                セラキュア ローション　20mL<br>
                ＋<br>
                セラキュア エッセンス　5mL<br>
                セラシエル レッドモイストクリーム　5g<br>
            </p>
        </center>

        <!-------------------------- ▼▼▼▼エッセンスセット▼▼▼▼ ------------------------------------>
        <center>
            <div  class="ceralabo_pc" style="width: 70%;"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_10.jpg"> </div>
            <div class="ceralabo_pc_none"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_10.jpg"> </div>
        </center>
        <!-------------------------- ▲▲▲▲エッセンスセット▲▲▲▲ ------------------------------------> 
        <br>
        <br>
        <!-------------------------- ▼▼▼▼おすすめ▼▼▼▼ ------------------------------------>
        <center>
            <div class="box19">
                <h3 class="rec_title title center">こんな人に<br class="ceralabo_pc_none">
                    おすすめ</h3>
                <p class="box1_text left" style="font-size: 24px;">
                <ul class="cp_list ul-align-center left">
                    <li>肌の乾燥が気になる</li>
                    <li>セラミドをたっぷり*<sup>1</sup>補給したい</li>
                    <li>オフスキンケアと一緒にエイジングケア*<sup>2</sup>も取り入れたい</li>
                    <li>べたつかずにしっとり保湿したい</li>
                </ul>
                </p>
            </div>
        <font size="1"> <font color="#a9a9a9">*<sup>1</sup> 当社比</font> </font> <font size="1"> <font color="#a9a9a9">*<sup>2</sup> 年齢に伴う保湿お手入れ</font> </font>
        </center>
    <!-------------------------- ▲▲▲▲おすすめ▲▲▲▲ ------------------------------------> 
</div>

<!-------------------------- ▲▲▲▲コンテンツ▲▲▲▲ ------------------------------------> 
</dd>

<dt><a href="#">
    <div  style="font-size: 16px;">セラシエルセット</div>
    <i class="ceralabo_accordion_icon"></i></a></dt>
<dd>
    <!-------------------------- ▼▼▼▼コンテンツ▼▼▼▼ ------------------------------------>
    <div class="box_pnt">
        <center>
            <h2 class="sub_title">セラシエルセット<br>
                とにかく美容成分をたっぷり補給したい！</h2>
            <p> 〈基本3点セット〉<br>
                セラヴェール プラチナムクレンジングオイル　30mL<br>
                セラヴェール スキンウォッシュ インデュース 　30mL<br>
                セラキュア ローション　20mL<br>
                ＋<br>
                セラシエル レッドプロテクトジェル　10mL<br>
                セラシエル レッドモイストクリーム　5g<br>
            </p>
        </center>

        <!-------------------------- ▼▼▼▼エッセンスセット▼▼▼▼ ------------------------------------>
        <center>
            <div  class="ceralabo_pc" style="width: 70%;"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_11.jpg"> </div>
            <div class="ceralabo_pc_none"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_11.jpg"> </div>
        </center>
        <!-------------------------- ▲▲▲▲エッセンスセット▲▲▲▲ ------------------------------------> 
        <br>
        <br>
        <!-------------------------- ▼▼▼▼おすすめ▼▼▼▼ ------------------------------------>
        <center>
            <div class="box19">
                <h3 class="rec_title title center">こんな人に<br class="ceralabo_pc_none">
                    おすすめ</h3>
                <p class="box1_text left" style="font-size: 24px;">
                <ul class="cp_list ul-align-center left">
                    <li>オフスキンケアと一緒にエイジングケア*も取り入れたい</li>
                    <li>セラミドだけでなく美容成分も補給したい</li>
                    <li>べたつかずにしっとり保湿したい</li>
                </ul>
                </p>
            </div>
        <font size="1"> <font color="#a9a9a9">*年齢に伴う保湿お手入れ</font> </font>
        </center>
    <!-------------------------- ▲▲▲▲おすすめ▲▲▲▲ ------------------------------------> 
</div>

<!-------------------------- ▲▲▲▲コンテンツ▲▲▲▲ ------------------------------------>
</dd>
</dl>
</div>

<br>
<br>
<br>
<br>
<center>
    <h1 class="main_title"> <font size="6">不使用成分</font> </h1>
</center>

<!-------------------------- ▼▼▼▼クレンジング▼▼▼▼ ------------------------------------>
<center>
    <div  class="ceralabo_pc" style="width: 700px;"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_12_pc.jpg"> </div>
    <div class="ceralabo_pc_none"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_12_sp.jpg"> </div>
</center>
<!-------------------------- ▲▲▲▲クレンジング▲▲▲▲ ------------------------------------> 

<br>
<br>
<br>
<br>

<!-------------------------- ▼▼▼▼全成分▼▼▼▼ ------------------------------------>
<center>
    <h1 class="main_title">全成分<br>
    </h1>
</center>
<!-------------------------- ▼▼▼▼プルダウン▼▼▼▼ ------------------------------------>
<div class="kaihatsu">
    <dl class="ceralabo_accordion" data-accordion>
        <dt><a href="#">
            <div  style="font-size: 16px;text-align:center;">《セラヴェール プラチナムクレンジングオイル》</div>
            <i class="ceralabo_accordion_icon"></i></a></dt>
        <dd>マカデミア種子油、トリイソステアリン酸ＰＥＧ－２０グリセリル、スクワラン、トリイソステアリン酸ＰＥＧ－３グリセリル、コメヌカ油、アルガニアスピノサ核油、オリーブ果実油、アボカド油、トコフェロール</dd>
        <dt><a href="#">
            <div  style="font-size: 16px;text-align:center;">《セラヴェール スキンウォッシュ -インデュース-》</div>
            <i class="ceralabo_accordion_icon"></i></a></dt>
        <dd>水、ラウレス－６カルボン酸Ｎａ、コカミドＤＥＡ、ラウロイルグルタミン酸ＴＥＡ、コカミドプロピルベタイン、ラウラミドＤＥＡ、ペンチレングリコール、ラウリン酸ＢＧ、ヒアルロン酸Ｎａ、グリチルリチン酸２Ｋ、グリセリン、塩化Ｎａ、ＥＤＴＡ－２Ｎａ、クエン酸、エチルヘキシルグリセリン、フェノキシエタノール</dd>
        <dt><a href="#">
            <div  style="font-size: 16px;text-align:center;">《セラキュア ローション》</div>
            <i class="ceralabo_accordion_icon"></i></a></dt>
        <dd>水、ＢＧ、セラミドＮＰ、セラミドＡＰ、セラミドＮＳ、セラミドＮＧ、セラミドＥＯＰ、セラミドＡＧ、セラミドＡＳ、フィトスフィンゴシン、グルコシルセラミド、セレブロシド、スフィンゴ糖脂質、グリコシルトレハロース、ベタイン、α－グルカン、加水分解水添デンプン、ヒアルロン酸Ｎａ、加水分解コラーゲン、水添レシチン、フィトステロールズ、コレステロール、ＰＥＧ－６０水添ヒマシ油、セテスー３０、ステアリン酸グリセリル、キサンタンガム、グリセリン、ＤＰＧ、クエン酸、クエン酸Ｎａ、メチルパラベン、フェノキシエタノール</dd>
        <dt><a href="#">
            <div  style="font-size: 16px;text-align:center;">《セラキュア エッセンス》</div>
            <i class="ceralabo_accordion_icon"></i></a></dt>
        <dd>水、BG、グリセリン、セラミドＮＰ、セラミドＡＰ、セラミドＮＳ、セラミドＮＧ、セラミドＥＯＰ、セラミドＡＧ、セラミドＡＳ、フィトスフィンゴシン、グルコシルセラミド、ラウロイルグルタミン酸ジ（フィトステリル／オクチルドデシル）、セレブロシド、スフィンゴ糖脂質、カルボキシメチルヒアルロン酸Ｎａ、ヒアルロン酸Ｎａ、加水分解コラーゲン、メチルグルセス－１０、グリセレス－２６、ジグリセリン、リゾレシチン、水添レシチン、カルボマー、キサンタンガム、フィトステロールズ、コレステロール、アルギニン、ＥＤＴＡ－２Ｎａ、ＤＰＧ、ステアリン酸グリセリル 、αーグルカン、メチルパラベン、フェノキシエタノール</dd>
        <dt><a href="#">
            <div  style="font-size: 16px;text-align:center;">《セラシエル レッドプロテクトジェル》</div>
            <i class="ceralabo_accordion_icon"></i></a></dt>
        <dd>水、BG、グリセリン、ジグリセリン、グリコシルトレハロース、ヒアルロン酸Ｎａ、カルボキシメチルヒアルロン酸Ｎａ、加水分解ヒアルロン酸、水溶性コラーゲン、加水分解水添デンプン、ポリクオタニウム－５１、ナイアシンアミド、プラセンタエキス、グリチルリチン酸２Ｋ、ヘマトコッカスプルビアリスエキス、テトラヘキシルデカン酸アスコルビル、グルコシルヘスペリジン、セラミドＮＰ、セラミドＮＧ、セラミドＥＯＰ、セラミドＡＰ、セラミドＡＧ、セレブロシド、スフィンゴ糖脂質、ラウロイルグルタミン酸ジ（フィトステリル／オクチルドデシル）、トリ（カプリル酸／カプリン酸）グリセリル、フィトステロールズ、アルギニン、水添レシチン、リゾレシチン、トコフェロール、キサンタンガム 、カルボマー、グリセレス－２６、フェノキシエタノール、メチルパラベン</dd>
        <dt><a href="#">
            <div  style="font-size: 16px;text-align:center;">《セラキュア スキンクリーム》</div>
            <i class="ceralabo_accordion_icon"></i></a></dt>
        <dd>水、BG、マカデミア種子油、ホホバ種子油、グリセリン、水添レシチン、スクワラン、ベヘニルアルコール、セラミドNG、セラミドAP、セラミドNP、セラミドEOP、セラミドAG、フィトスフィンゴシン、フィトステロールズ、マカデミアナッツ脂肪酸フィトステリル、ジラウロイルグルタミン酸リシンNa、グリチルリチン酸2K、ヒアルロン酸Na、グリセレス-26、アルギニン、トコフェロール、カルボマー、フェノキシエタノール、メチルパラベン</dd>
        <dt><a href="#">
            <div  style="font-size: 16px;text-align:center;">《セラシエル レッドモイストクリーム》</div>
            <i class="ceralabo_accordion_icon"></i></a></dt>
        <dd>水、BG、グリセリン、ジグリセリン、ベタイン、スクワラン、ラウロイルグルタミン酸ジオクチルドデセス－２、ジフェニルシロキシフェニルトリメチコン、ナイアシンアミド、ヘマトコッカスプルビアリスエキス、テトラヘキシルデカン酸アスコルビル、ヒアルロン酸Ｎａ、加水分解ヒアルロン酸、プラセンタエキス、水溶性コラーゲン、セラミドＮＰ、セラミドＡＰ、セラミドＮＧ、セラミドＮＳ、セラミドＡＧ、セラミドＥＯＰ、セラミドＡＳ、スフィンゴ糖脂質、セレブロシド、フィトステロールズ、コレステロール、グリコシルトレハロース、加水分解水添デンプン、グルコシルヘスペリジン、水添レシチン、トリ（カプリル酸／カプリン酸）グリセリル、アルギニン、キサンタンガム 、ステアリン酸グリセリル、ＤＰＧ、トコフェロール、カルボマー、フェノキシエタノール、メチルパラベン</dd>
        <dt><a href="#">
            <div  style="font-size: 16px;text-align:center;">《セラキュア センシティブローション》</div>
            <i class="ceralabo_accordion_icon"></i></a></dt>
        <dd>水、ＢＧ、セラミドＮＰ、セラミドＡＰ、セラミドＮＧ、セラミドＥＯＰ、セラミドＡＧ、フィトスフィンゴシン、グルコシルセラミド、グリコシルトレハロース、ベタイン、加水分解水添デンプン、ヒアルロン酸Ｎａ、加水分解コラーゲン、水添レシチン、フィトステロールズ、ＰＥＧ－６０水添ヒマシ油、クエン酸、クエン酸Ｎａ、α－グルカン、メチルパラベン、フェノキシエタノール</dd>
        <dt><a href="#">
            <div  style="font-size: 16px;text-align:center;">《セラキュア センシティブジェリー》</div>
            <i class="ceralabo_accordion_icon"></i></a></dt>
        <dd>水、ＢＧ、ベタイン、ＰＣＡ－Ｎａ、ヒアルロン酸Ｎａ、セラミドＥＯＰ、セラミドＮＧ、セラミドＮＰ、セラミドＡＧ、セラミドＡＰ、グルコシルセラミド、フィトスフィンゴシン、α－グルカン、加水分解コラーゲン、水添レシチン、フィトステロールズ、グリシン、セリン、グルタミン酸、アスパラギン酸、ロイシン、アラニン、リシン、チロシン、フェニルアラニン、トレオニン、プロリン、バリン、イソロイシン、ヒスチジン、アルギニン、キサンタンガム、カルボマー、ＰＥＧ－６０水添ヒマシ油、ＥＤＴＡ－２Ｎａ、フェノキシエタノール、メチルパラベン</dd>
    </dl>
</div>
<!------------------------------------ ▲▲▲プルダウン▲▲▲ ------------------------------------> 
<!-------------------------- ▲▲▲▲全成分▲▲▲▲ ------------------------------------> 

<br>
<br>
<br>
<br>

<!-------------------------- ▼▼▼▼全成分▼▼▼▼ ------------------------------------>
<center>
    <h1 class="main_title">使い方・使用手順<br>
    </h1>
</center>
<!-------------------------- ▼▼▼▼テキスト▼▼▼▼ ------------------------------------>
<center>
    <h2 class="sub_title">〈 セラヴェール プラチナムクレンジングオイル 〉</h2>
    <br>
    <br>
    <h3 class="rec_title title center">メイク落とし</h3>
    <br>
    <br>

    <p class="topics_text">

        <u>Step. 01</u><br>
        ２プッシュ程度を手に取り、<br class="ceralabo_pc_none">メイク部分に塗布します。<br>
        <br>
        <u>Step. 02</u><br>
        やさしく手で馴染ませます。<br>
        より摩擦を少なくしたい方は、塗ったまま<br class="ceralabo_pc_none">触らず１分ほど放置してください。<br>
        （油脂クレンジングは、メイクを溶かしやすいオイルでありながら乾燥しにくいため、<br>
        塗布後数分放置することが出来ます。）<br>
        <br>
        <u>Step. 03</u><br>
        少量の水を加えて、手でクルクルと<br class="ceralabo_pc_none">なでて乳化させます。<br>
        <br>
        <u>Step. 04</u><br>
        ぬるま湯で洗い流します。<br>
        <br>


    </p>


    <!-------------------------- ▼▼グレー背景▼▼ ---------------------------->
    <div class="ceralabo_pc">
        <div class="box3_pc">
            <p>
                ＊お風呂場、濡れた手でも<br class="ceralabo_pc_none">ご使用いただけます。<br>
                出来るだけ水分をタオルで拭いてから<br>
                ご利用頂くのを推奨いたします。<br>
                <br>
                ＊ダブル洗顔をしなくてもOKです。<br>
                脂性肌やニキビ肌の方は、お肌の調子に合わせて<br>
                ダブル洗顔を行ってください。<br>
            </p>
        </div>
    </div>



    <div class="ceralabo_pc_none">
        <div class="box3_sp">
            <p>
                ＊お風呂場、濡れた手でも<br class="ceralabo_pc_none">ご使用いただけます。<br>
                出来るだけ水分をタオルで拭いてからご利用頂くのを推奨いたします。<br>
                <br>
                ＊ダブル洗顔をしなくてもOKです。<br>
                脂性肌やニキビ肌の方は、お肌の調子に合わせてダブル洗顔を行ってください。<br>

            </p>
        </div>
    </div>
    <!-------------------------- ▲▲グレー背景▲▲ ---------------------------->

</center>
<!-------------------------- ▲▲▲▲テキスト▲▲▲▲ ------------------------------------>


<br><br><br>

<!-------------------------- ▼▼▼▼テキスト▼▼▼▼ ------------------------------------>
<center>
    <h3 class="rec_title title center">毛穴ケア</h3>
    <br>
    <br>

    <!-------------------------- ▼▼毛穴ケア▼▼ ------------------------------------>
    <center>

        <div class="ceralabo_pc">
            <div style="width: 80%">
                <img src="/html/user_data/assets/ceralabo/img_topics/09/topics09_04_pc.png">
            </div>
        </div>

        <div class="ceralabo_pc_none">
            <img src="/html/user_data/assets/ceralabo/img_topics/09/topics09_04.png">
        </div>

    </center>
    <!-------------------------- ▲▲毛穴ケア▲▲ ------------------------------------>

</center>
<!-------------------------- ▲▲▲▲テキスト▲▲▲▲ ------------------------------------>

<br>
<br>
<!-------------------------- ▼▼▼▼テキスト▼▼▼▼ ------------------------------------>
<center>
    <h2 class="sub_title">〈 セラヴェール スキンウォッシュインデュース 〉</h2>
    <br>
    <br>
    <p class="topics_text">

        10円玉大を手に取り、泡立てて洗浄し、十分にすすいでください。<br>
        泡立てネットの使用をおすすめします。

    </p>
</center>
<!-------------------------- ▲▲▲▲テキスト▲▲▲▲ ------------------------------------>

<br>
<br>
<!-------------------------- ▼▼▼▼テキスト▼▼▼▼ ------------------------------------>
<center>
    <h2 class="sub_title">〈 セラキュア ローション 〉</h2>
    <br>
    <br>
    <img src="/html/user_data/assets/ceralabo/img_item/k1b/img_item_k1b_pc_05.png" class="ceralabo_pc" alt="CeraLabo">
    <img src="/html/user_data/assets/ceralabo/img_item/k1b/img_item_k1b_sp_05.png" class="ceralabo_pc_none" alt="CeraLabo">
</center>
<!-------------------------- ▲▲▲▲テキスト▲▲▲▲ ------------------------------------>


<br><br><br>

<!-------------------------- ▼▼▼▼テキスト▼▼▼▼ ------------------------------------>
<!-------------------------- ▼▼▼▼テキスト▼▼▼▼ ------------------------------------>
<center>
    <h2 class="sub_title">〈 その他の保湿アイテム 〉</h2>
    <br>
    <br>
    <p class="topics_text">
        パール1粒大をベースに、必要に応じて使用量を調整してください。
    </p>
    <!-------------------------- ▼▼▼▼エッセンスセット▼▼▼▼ ------------------------------------>
    <center>
        <div  class="ceralabo_pc" style="width: 70%;"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_14.jpg"> </div>
        <div class="ceralabo_pc_none"> <img src="/html/user_data/assets/ceralabo/img_item/kc5a/img_item_kc5a_14.jpg"> </div>
    </center>
    <!-------------------------- ▲▲▲▲エッセンスセット▲▲▲▲ ------------------------------------> 
</center>
<!-------------------------- ▲▲▲▲テキスト▲▲▲▲ ------------------------------------>


<br>
<br>
<br>
<br>

<!-------------------------- ▼▼▼▼テキスト▼▼▼▼ ------------------------------------>


<!-------------------------- ▼▼▼▼FAQ▼▼▼▼ ------------------------------------>
<div id="faq">
    <center>
        <h2 class="title">よくある質問</h2>
    </center>
    <dl class="ceralabo_accordion" data-accordion>
        <dt><a href="#">CeraLaboを使い始める時の注意点はありますか？<i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> 肌荒れが気になる場合はスキンケア一式を同時に変えるのでなく、1製品ずつ1週間以上試して肌の調子をみていきましょう。<br>
            まずは洗浄力を見直す意味を込めて「スキンウォッシュインデュース」からご使用いただくのを推奨いたします。 </dd>
        <dt><a href="#">「セラミド」とはどんな成分ですか？<i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> セラミドは肌の角層にもともと存在する細胞間脂質の一種で、肌のバリア機能を保つ役割をもっています。<br>
            乾燥肌や加齢肌の方は、肌のセラミド量が少ない傾向にあるため、スキンケアで補うことが重要です。 </dd>
        <dt><a href="#">「セラヴェールスキンウォッシュ」で全身洗っても大丈夫ですか？<i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> 洗顔だけでなく、全身洗浄料としてもお使いいただけます。 </dd>
        <dt><a href="#">「セラヴェールスキンウォッシュ」を洗い流した後、ぬるぬるした感覚が残ります。<i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> セラヴェールスキンウォッシュは「肌に必要な潤いを残しながら不要な皮脂や汚れを落とす」設計です。<br>
            使い始めはそのマイルドな洗浄力に違和感があるかもしれませんが、しばらく継続すると次第にお肌が慣れて気にならなくなっていきます。どうしても気になる場合は通常より長めにすすぎを行って下さい。 </dd>
        <dt><a href="#">他社の「石けんで落ちる化粧品」を使っていますが、「セラヴェールスキンウォッシュ」で落とせますか？<i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> 他社様の商品のため、落とせるとは断言できません。 日焼け止めやメイクアップ製品といった洗い落としが心配なものはセラヴェールプラチナムクレンジングオイルのご使用をお勧めいたします。 </dd>
        <dt><a href="#">「セラヴェールスキンウォッシュ」で洗顔するときは泡立てネットを使ったほうがいいですか？<i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> 肌を直接擦ると刺激になるため、泡立てネットを使用しましょう。十分な泡が立ったら泡を転がすイメージで洗顔してください。 </dd>
        <dt><a href="#">「セラヴェールプラチナムクレンジングオイル」はW洗顔が必要ですか？<i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> 基本的にW洗顔なしでご使用いただけます。 ニキビなどがご心配な方はセラヴェールスキンウォッシュで軽くW洗顔して頂くのがお勧めです。 </dd>
        <dt><a href="#">オイルクレンジングは洗浄力が高くて乾燥しやすいイメージがあります。<i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> セラヴェールプラチナムクレンジングオイルは高級美容オイルとしても使用されている「マカデミアナッツ油」を主成分としています。<br>
            洗い流し後のお肌をしっとり柔らかな質感に整えてくれるため、オイルクレンジングは乾燥すると感じている方にもぜひ一度お試しいただきたいアイテムです。 </dd>
        <dt><a href="#">「セラヴェールプラチナムクレンジングオイル」はナッツアレルギーでも使えますか？<i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> アレルギーの原因となる成分は原料の精製時にその殆どが除去されておりますが、ナッツアレルギーの方には念の為ご使用はお控え頂くのをお勧めしております。 </dd>
        <dt><a href="#">「セラヴェールプラチナムクレンジングオイル」は濡れた手・顔でも使えますか？<i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> お使い頂けます。<br>
            ただし、混ざる水分の量に従って洗浄力は落ちていきますので濃いメイクをされている場合はタオル等で拭ってからご利用頂くのを推奨いたします。 </dd>
        <dt><a href="#">「セラヴェールプラチナムクレンジングオイル」は濃いメイクでも落とせますか？<i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> 強力な皮脂くずれ防止機能があるものを除けば、基本的に落とすことができます。 </dd>
        {# <dt><a href="#">「セラキュアローション」だけでは保湿が物足りない感覚があります。<i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> 適切な洗浄力で洗顔を行うことでお肌の調子が整ってくると、セラキュアローションのみでも乾燥を感じにくくなる場合があります。<br>
            それでも乾燥を感じる場合は、付属のセラシエルレッドプロテクトジェル、セラキュアエッセンスを足してご調整ください。 </dd> #}
        <dt><a href="#">「セラシエルレッドプロテクトジェル」はどのタイミングに使用するのがいいですか？<i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> 朝夜タイミングを問わずご利用いただけますが、成分の効果を最大限発揮する場合は朝日焼け止めを塗る前に使用するのが特にお勧めです。 </dd>
        <dt><a href="#">「セラシエルレッドプロテクトジェル」は10～20代でも使っていいですか？<i class="ceralabo_accordion_icon"></i></a></dt>
        <dd> 全年齢でお使い頂けます。CeraLaboではできるだけ早いうちからのエイジングケア*をお勧めしています。<br>
            *エイジングに伴う保湿お手入れ </dd>
    </dl>
</div>
<!-------------------------- ▲▲▲▲FAQ▲▲▲▲ ------------------------------------>

<!-------------------------- ▼▼▼▼バナー▼▼▼▼ ------------------------------------>
<div class="banner-wrapper"> 
<a href="https://lin.ee/snrN2Tb" target="_blank" rel="noopener noreferrer"><img src="/html/user_data/assets/ceralabo/img/banner_line.png" alt="セララボLINE公式アカウント"/></a>
</div>
<style>
.banner-wrapper {
margin-bottom: 2rem;
margin-top: 60px;
}
</style>
<!------------------------------------ ▲▲▲▲バナー▲▲▲▲ ------------------------------------>

<p class="ceralabo_btn_pageTop_wrap"> <a href="#" class="ceralabo_btn_pageTop" data-smoothScroll>Page Top <img src="/html/user_data/assets/ceralabo/img/icon_doubleArrow.svg" alt="矢印"></a> </p>
<br>
<br>
<br class="ceralabo_pc">
<br class="ceralabo_pc">